[2016-04-15 07:52] grimmySwe commented on #179
You can use the -b <branch> parameter to `git subrepo push` to push to a new branch in the subrepo. So if you first create a local branch, then fix things and use `git subrepo push -b new_branch` you will get a new branch in the subrepo repository. And can create a PR from that.

Does that answer your question?

[2016-04-15 13:23] hassec commented on #179
Just a quick follow up. When you say create a local branch you are talking about using
`git checkout -b ...` thus creating a branch of the complete project right?

And yes I think this does answer my question, thanks!

[2016-04-15 13:33] grimmySwe commented on #179
Yes I meant using `git checkout -b ...`, I do realize that you don't need to create a local branch, you can just push to another subrepo branch if you want to.

[2016-04-15 13:36] hassec commented on #179
Well if I have two separate fixes I would need to branch. I just did't think about the option of branching the whole project.  But this definitely does what I need.

So thanks again! If you don't have anything to add, this can be closed.

[2016-04-15 13:37] grimmySwe commented on #179
Nothing to add, closing.

[2016-04-15 13:37] #179 closed

[2016-04-15 13:47] grimmySwe commented on #147
@hectorj That seems strange, I think that I have used dotted files and dirs without problem, do you have any more information?

[2016-04-16 01:26] hectorj commented on #147
@grimmySwe: Sure, I just reproduced it:

[code]

[2016-04-16 17:03] perlpunk opened #181 "Can't push to subrepo if last commit is a merge commit"
I tried to clone a subrepo, do some local changes and push, but got the error message
`git-subrepo: Can't find a common ancestor between refs/subrepo/ext/shared/fetch and subrepo-push/ext/shared [...]`

First I couldn't reproduce it with simple example repos, but I found out when it happens now.
The last commit of the subrepo has to be merge commit.
Here's a script that will reproduce the error:

[2016-04-17 21:47] waynix commented on #180
Branch "issue/142" seems to fix the issue for me.
I just had to add a commit in my test.

[2016-04-19 05:21] LovesTha commented on #181
I'm getting the same error and the head of where the subrepo is trying to push to isn't a merge commit (it was previously, but I've ensured it isn't now)

Simply doing:
git subrepo clone <repo> <dir>
git subrepo push <dir>
gives me:
git-subrepo: Can't find a common ancestor between refs/subrepo/<dir>/fetch and subrepo-push/<dir>. This might be the case if someone used push --force on the subrepo.

[2016-04-19 06:40] grimmySwe commented on #181
@LovesTha If you have the time to create a simple use case to reproduce your error it would always be good to actually verify that it solves your case. If you think it differs from this issue so yes, please add it as another issue.

The tree hash common ancestor logic has some drawbacks. I have some ideas on how to solve that in #142 but unfortunately there are a lot of other stuff going on right

[2016-04-19 07:47] grimmySwe commented on #142
@ingydotnet I have tried to implement a rebase variant but I can't get it to work properly, one of my main issues is that with rebase I end up solving the same conflicts twice. First I need to solve them when I pull the data, then I need to solve them again when I push as I can't use the previous information without losing commits (not changes). For the merge case a pull will update the state and

[2016-04-20 19:41] perlpunk commented on #181
@grimmySwe oh thanks, didn't know that there is already a branch that addresses this issue.
Tested my script with issue/142 and it works.
I'll try it out tomorrow with the real repositories.

[2016-04-21 01:30] LovesTha commented on #181
@grimmySwe Thanks for all that.
In the end I've tried out the issue/142 branch and it works. Thus my interest has waned. But I'm excited for the 142 branch.

[2016-04-25 15:07] ibukanov commented on #158
I also hit the issue. I have a directory where I previously used git-stree tool. I switched to subrepo via first committing a rename, then using subrepo clone then deleting the rename. Now subrepo push generates an error even if there is nothing to push.

[2016-04-26 19:14] waynix commented on #158
@ibukanov  have tried the [branch issue142](https://github.com/ingydotnet/git-subrepo/tree/issue/142)
That branch has fixed my test cases.

[2016-04-28 18:08] skevy commented on #142
Hey guys -- just wondering what the status was of this rewrite. I've been using the issue/142 branch and it's been working well for my use cases...but just wanted to know if there's a chance this work is gonna make it into master soon?

[2016-04-28 19:24] grimmySwe commented on #142
@skevy Been a lot of other stuff lately, I can't really say when it's hitting master. There are some thinking to be done on the commit messages first.

[2016-04-28 19:35] ingydotnet commented on #142
@skevy I'd like to get this resolved but it's a big move and I want to make sure I get it right.

Can someone show me a public repo that has used the #142 pull style? All my personal code bases attempt to keep flat (rebased) commit histories. I want to see how this will look and work. I could try to emulate it but it would save time if someone could send me links.

@grimmySwe is it possible to pic

[2016-04-28 20:12] grimmySwe commented on #142
So let's think a little on the commit messages:
Pre-142 behaviour with the rebase:

- Pull creates a single "squashed" commit with a standard message.
   - If no conflicts it will be marked "pull"
   - If there are conflicts it will be a "commit"
- Push let's you rebase your commits into the subrepo, filter branch command will remove empty commits. In most cases this will make the pull commits go

[2016-04-28 20:18] grimmySwe commented on #142
@ingydotnet I thought that a rebase option would be easy using the same base mechanism as the merge in 142, but I can't get it to work in a good way with conflicts. Because when use rebase I end up solving them twice, once when I perform the pull, but then again when I push. Because when I use rebase I can't reuse the structure as can be done in the merge case. You can though argue that conflicts

[2016-04-29 12:05] evilWicked opened #182 "Subrepos need to be top level"
#I am having problems with the situation where I have a broader dependency project containing a source folder containing a collection of third party dependencies
[code]
When I move into src and try to init a subrepo
[code]

I get a
[code]

If I move to the top level and try to add it via a path
[code]
Does this mean that sub repos must be at the top level?

[2016-04-29 13:27] grimmySwe commented on #182
`git subrepo init` needs that git has knowledge of the files. So if you want to use init you need to add/commit repoX first.

If the repos already exist elsewhere you can use `git subrepo clone repoX` to clone in the external repos.

[2016-04-29 13:42] evilWicked commented on #182
The files were in git.  I had added an empty directory from them - perhaps the keyword here is empty...

In fact I had tried several approaches - in this case I had created the directory tree, created the top level repo including the sub directory as a placeholder and then tried adding that as a sub-repo.

In any case let me test it.   Git may simply have ignored it because it was empty.

[2016-04-29 13:56] evilWicked commented on #182
OK that was different. It still needs to be run from the top level but at least it created it this time

[code]

[2016-04-29 13:56] #182 closed

[2016-05-02 01:50] rbellamy commented on #60
In #3 @ingydotnet mentions that `git subrepo clone -f $url $subdir` is a possible solution for dealing with a current subtree - is this the currently accepted method for "migrating" from `git subtree` to `git subrepo`?

I keep getting dirty history with subtree with duplicate commits as a result of push/pull changes in commit hashes between repositories, and would love to have a better solution. F

[2016-05-02 02:50] rbellamy opened #183 "Remove requirement for $GIT_SUBREPO_ROOT from _git-subrepo zsh completions"
When the `_git-subrepo` completion script is dropped directly into `/usr/share/zsh/site-functions` the completions JustDon'tWork(tm).

Furthermore, the check doesn't actually DO anything except bark and barf if the variable hasn't been set - the completions work just fine without it.

[2016-05-02 09:38] perlpunk commented on #183
@rbellamy regarding your first point:
it works for me.
What I did:
* comment out the line with enable-completion.sh in the .rc file to make sure the completion isn't loaded from this place
* `sudo cp ~/.../git-subrepo/share/zsh-completion/_git-subrepo /usr/share/zsh/vendor-completions/`
* `exec zsh`

and completion worked. If I leave out the copy, it doesn't work.

Maybe you should check if the pa

[2016-05-02 14:09] rbellamy commented on #183
@perlpunk the assumption made by the completion script is that it has been installed via a git clone, and thus it's important to know where the `$GIT_SUBREPO_ROOT` is located.

If you copy the completion script, as-is, directly into `/usr/zsh/site-functions` then the completions will fail, because that variable will not have been set. The documentation says:

My `$fpath` is set correctly to load f

[2016-05-02 14:47] ingydotnet commented on #60
@rbellamy are the repos in question, public repos? If so, it would be easy for me to test out the steps.

Else can you locate a public repo that uses subtree?

[2016-05-02 15:16] rbellamy commented on #60
@ingydotnet GREAT question - unfortunately, the public repo I'm working on is a subtree of a private repo, so it's not really an option here.

Some quick searches of closed GitHub issues produced this: https://github.com/spotify/ios-ci/pull/11

Apparently they converted `ios-ci/ci` from submodule to subtree just recently, so maybe not the best example, since the only commit on that subtree is the

[2016-05-02 15:23] perlpunk commented on #183
@rbellamy ok, then that's more a general question about $GIT_SUBREPO_ROOT - currently the docs say it's required to source the .rc file.
If that is actually not required to run it, then yeah, it should be removed

[2016-05-02 15:38] ingydotnet commented on #60
As I understand it, a simple approach would be just to delete the subtree subdir, commit that, and then clone the subrepo into the same dir.

You could try this on a branch, and see how it works for you, and report back.

[2016-05-02 16:17] rbellamy commented on #60
I did try that, and the end result is that the commit history ends up with a large-scale delete followed by a large-scale add - and my attempts at graft/replace to fix-up the history ended in tears. Mostly because even after years of using git, my skills are still journeyman-level, at best.

[2016-05-03 20:33] dmoss18 opened #184 "How to checkout remote branch"
If I have a subtree for a remote with branches `master` and `otherbranch`, is there any way to alternate between those in my local project (the one that cloned the subrepo)?

Looks like `git subrepo pull <subrepo-dir> -b otherbranch` will pull any new files in and create a commit, but then running `git subrepo pull <subrepo-dir> -b master` doesn't remove those new files, and it creates another com

[2016-05-04 07:07] grimmySwe commented on #184
As you say, when you pull in changes it will create a new commit in your parent repo, that commit is not connected to where it came from. So when you pull from another branch, previous pulls will be treated as "regular" changes.

If you want to switch between different subrepo states you can use clone as that will give you the exact state of a subrepo. Pull will consider your local changes.

[2016-05-04 10:59] perlpunk commented on #184
Maybe this should become an FAQ, as I've seen similar questions, and I've also been wondering about how to do that.

[2016-05-04 15:18] dmoss18 commented on #184
What would be the command for cloning? Right now I'm going `git subrepo clone -b <mybranchname> <remote-repo-url> lib` but I'm getting the message `The subdir 'lib' exists and it not empty.`

[2016-05-06 09:18] codingCookie commented on #177
I tried to change my tracking branch with this command:
`git subrepo pull path/to/package -b feature/branchname -u`

But it acts a little bit wired - it crashed with this rebasing-error:
`git-subrepo: Command failed: 'git rebase --onto 'commit-hash' 'commit-hash' subrepo/path/to/package'.`
and my main-repo is fully deleted and replaced with the content of the subrepo

Why does this happen? I don't

[2016-05-06 13:38] bagza commented on #184
@dmoss18 I guess, it's meant to be recloning or keeping separate clones in different folders. In other words, "one does not simply switch branches with subrepo".

This really needs some clarifications in tutorial/README/wiki.
I'd be happy, if someone would introduce best practices for usage `git-subrepo`.

For example, you have forked project B and want to fix it and clone it to the project A. As

[2016-05-06 14:07] PolakAllen opened #185 "Feature Request: Provide underlying git failure message"
I encounter this with this bug:

[code]

This occurred because I had `letsencrypt/` in my `.gitignore` folder.

When I tried `git add ansible/roles/letsencrypt/.gitrepo` myself, I discovered that it was being ignored (I didn't realize that that folder was being ignored).

[code]

[2016-05-06 14:30] perlpunk commented on #184
@dmoss18 For recloning, this worked for me:
[code]

[2016-05-13 18:32] rbellamy opened #186 "push fails on up-to-date subrepo"
Last commit is **not** a merge commit.
1. I test to make sure I have the latest history from the subrepo - it "is up to date."
2. I try to push to the subrepo, and get `Command failed: get rebase --onto...` error.

[code]

[2016-05-13 18:45] rbellamy commented on #186
Looks like the problem is that the subrepo merge is failing. However, it really shouldn't be trying to merge from subrepo to parent, as we've already determined that the parent has the correct history?

[code]

The content that `git-subrepo` is attempting to merge into the parent was removed and is already part of the history of the parent.

In other words:
1. `git subrepo clone roles/httpd git@gi

[2016-05-16 06:17] noidi commented on #60
I had the same problem. I removed my submodule with `git rm` and created a subrepo with the same name with `git subrepo clone`. The first `git subrepo push` pushed  both those commits to the subrepo, creating one commit that deletes all files and another that adds them back.

As far as I can tell, the problem is caused by `git subrepo merge-base` thinking that the commit removing the submodule (ma

[2016-05-16 13:28] therealmarv opened #187 "Fish shell integration"
I will try to look into this. It seems here is only bash and zsh integration.

[2016-05-16 17:01] ingydotnet commented on #187
I would like to see this done using a file called `.rc.fish`. Look at `.rc`. Just need to set the PATH, MANPATH and take care of completion.

[2016-05-16 18:37] therealmarv commented on #187
It should not be that complicated, you're right. I hope I have enough spare time to finish it :)

It should be straight forward:
1. Convert the env variables to fish: https://github.com/ingydotnet/git-subrepo/blob/master/.rc
2. Getting the completion syntax from bash/zsh https://github.com/ingydotnet/git-subrepo/blob/master/share/zsh-completion/_git-subrepo to fish completion syntax.
3. Sourcing i

[2016-05-19 10:53] psorowka opened #188 "Ability to push tags to subrepos?"
Hi,

i very much like the subrepo module and it helped us a lot cleaning up our microservice based repository structure.

However, I am missing one feature (or overlook it): is it possible to push tags to the subrepos? Currently I am doing that by checking the specific subrepo as a regular repository in a separate directory in order to set tags.

[2016-05-19 13:36] pthom commented on #184
Hi,

I am evaluating git-subrepo and I like it very much, and I appreciate the reactivity of the community.
The project I am working on is composed on more than 15 subrepositories, some of these sub-repositories are third partiess, and some of them are internal code for separate modules. Git-subrepo seems to handle it well.

As far as I understood the way to switch  asubrepo to another branch is t

[2016-05-19 17:55] ingydotnet commented on #188
If you have a subrepo called `foo` and you:

    git subrepo push foo

and you want to tag it with `v1.2.3` you can then:

    git push <foo-repo-url> refs/subrepo/foo/push:refs/tags/v1.2.3

That should be easier for you. I think what you would like to see is something like:

    git subrepo push foo --tag=v1.2.3

I don't see a problem with that, but it's also low priority.

Any thoughts out there

[2016-05-20 08:59] psorowka commented on #188
Ah very interesting approach thank you! That indeed helps.

Probably a first step could be to take this into the docs?

[2016-05-22 23:01] sibelius opened #189 "Can I use this with Hub - https://github.com/github/hub?"

[2016-05-27 13:58] riotrick commented on #147
Getting the exact same issue when trying to clone to a directory that starts with a dot:

`rick@lt-rick:~/test$ ls -lha
total 8,0K
drwxrwxr-x  2 rick rick 4,0K mei 27 15:54 .
drwx------ 58 rick rick 4,0K mei 27 15:54 ..
rick@lt-rick:~/test$ git-subrepo --version
0.3.0
rick@lt-rick:~/test$ git init
Initialized empty Git repository in /home/rick/test/.git/
rick@lt-rick:~/test (master #)$ git subrepo

[2016-05-27 18:59] georgegrigorita opened #191 "git subrepo push -a gives error: Local branch is not updated, perform pull"
This is my setup:
- main repo
  -- subrepo1
  -- subrepo2

I'm working on a local branch in main-repo. I've added subrepo1 and subrepo2 both tracking the remote master branch of their repository.
The issue is this: each time I modify or add files to subrepo1 or subrepo2 and I do a `git subrepo push -a` I get an "Local branch is not updated, perform pull or use '--force' to always trust local branc

[2016-05-28 22:58] tmrtn commented on #147
git-subrepo tries to create git remotes with the folder name as branch name. Due to the branch naming limitation, described here: [https://stackoverflow.com/questions/3651860/which-characters-are-illegal-within-a-branch-name](https://stackoverflow.com/questions/3651860/which-characters-are-illegal-within-a-branch-name), git itself fails.

[2016-05-31 10:06] kilowu opened #192 "git subrepo init fails"
Repo has a sub-directory named java.
$ git subrepo init java
git-subrepo/lib/git-subrepo: line 1174: printf: `+subdir': not a valid identifier

[2016-06-02 00:20] TimMeade commented on #163
Any update on this?   We are implementing this fine tool.  Exactly the solution needed.  Git status is extensively used.  Would love for git subrepo status to work the same

[2016-06-02 20:49] ingydotnet commented on #163
Sorry. Been busy with other things. Will try to find time this weekend.

[2016-06-09 09:13] jmatsushita commented on #142
Wanted to mention that I've also been using the `issue/142` branch with success. `master` was simply not working for me as I was bumping into various problems. Sorry for no being more precise, but I didn't document my attempts, but I thought that sharing that I have had no problem with `issue/142` would be useful info for others.

Hoping this gets merged!

[2016-06-09 10:19] varac commented on #185
+1

[2016-06-09 10:34] varac opened #193 "Make bypassing the pre-commit and commit-msg hooks optional"
I'm using pre-commit hooks in my git project that validate code style and syntax (for puppet manifests). I noticed that this can break a `git subrepo clone` if the cloned repo itself contains i.e. unlinted stuff (and makes cloneing incredible slow, this example took 30s until failing).

[code]

issueing `git commit -m "git subrepo clone git@gitlab.com:shared-puppet-modules-group/mod_security puppe

[2016-06-09 22:04] nathanielc opened #194 "Is there a way to checkout a specific ref of a subrepo?"
Maybe something like

[code]

[2016-06-13 14:35] kristiandelay opened #196 "git-subrepo/share/enable-completion.sh: File name too long"
when running source ~/.bash_profile same with source ~/.bashrc
/Users/kristiandelay/git-subrepo/share/enable-completion.sh: File name too long

both files have the following line:
source /Users/kristiandelay/git-subrepo/.rc
i have tried this line in both files together and alone both throw the above error when running the source command.

just typing  the following in terminal generates this error

[2016-06-14 19:27] varac commented on #194
Yeah we're just asking ourselves the same question, would be good to know.

[2016-06-14 20:15] perlpunk commented on #194
As far as I an see you can just use `--branch` for that. It accepts tags names.

[2016-06-14 20:28] ingydotnet commented on #142
@grimmySwe I have time to consider merging the `issue/142` branch this week. Stay tuned.

[2016-06-15 22:02] dkpalmer opened #197 "Pull Request Workflow?"
I started off the day planning on refactoring some code and moving to submodules. I then found subtrees and ultimately came upon subrepo. I'm now optimistic that this will satisfy my desire to effectively share some code between projects while minimizing overhead and complexity in doing so. That said, I'm now reaching for the recommended/ideal process for using this working between multiple branch

[2016-06-17 22:39] nathanielc commented on #194
It looks like `--branch` works to perform an initial clone but then later during a pull I get an error about not finding a common ancestor

[code]

I have even tried to clone from HEAD^ (using an explicit tag) and then pull master to update by a single commit on the same branch but I always get the common ancestor error.

[2016-06-18 15:08] perlpunk commented on #194
@nathanielc this workflow also won't work with branches. Switching between branches for a subrepo is something you currently would do by simply recloning. See also the discussion in #184

[2016-06-27 09:13] jmatsushita opened #198 "subrepo push with existing subrepo-push branch fails with Command failed: 'git checkout -B subrepo-push ...'"
I'm using the issue/142 branch. #142

subrepo push fails with:
[code]

I had an unclean branch of porbably a past aborted push from a nested subrepo:
[code]

Deleting this local branch fixes the problem.

[2016-06-27 11:08] grimmySwe commented on #192
Could you please add some more information for this case:
What subrepo version are you using?
Can you reproduce this error? How? Can you create a simple example to reproduce it?

[2016-06-27 11:17] grimmySwe commented on #189
I have no experience with Hub so I can't say that it works.

But... git-subrepo is just a wrapper and uses regular git to perform the different operations needed to having a subrepo.

Try it out and let us know the problems!

[2016-06-27 11:32] sibelius commented on #189
it works, thanks

[2016-06-27 11:32] #189 closed

[2016-06-27 16:54] gamename opened #199 "Add To Git?"
Hi,

Do you guys have any plans to add this utility to Git permanently -- maybe in contrib?

TIA,
-T

[2016-07-04 09:19] juddgaddie commented on #142
@grimmySwe I've had a play with issue/142 branch, I like the --squash however for it to be useful I need to have a -m "custom commit message" option rather than the default commit message it uses. Thanks for all your work on this.

[2016-07-04 09:22] grimmySwe commented on #142
@juddgaddie I agree with you, there are some improvements needed for the commit message to make it fully operational.

[2016-07-04 23:57] adeluccar opened #200 "Workflow for Third Party Code?"
Hey everyone,

I can't seem to grok the git-subrepo model entirely to replicate my workflow.
### What I want to use git-subrepo for

I want to use git-subrepo to maintain several third party libraries (including git-subrepo itself) in my dotfiles where each subrepo has an origin remote pointing to my fork and an upstream remote pointing to their master for updating purposes.
### Find Code Workflow

[2016-07-05 00:19] logictom commented on #119
It might be worth adding a note under Windows installation, for those like my that don't have quite as good an understanding of bash, that .bashrc isn't read but .bash_profile instead.
I added
`if [ -f "$HOME/.bashrc" ]; then`
`. "$HOME/.bashrc"  `
`fi`
to the top of .bash_profile as per discussion here https://github.com/git-for-windows/git/issues/191
If this isn't the accepted solution perhaps t

[2016-07-05 08:33] grimmySwe commented on #142
Commit messages... been trying to sort out different types and when you want some specifics.

As I see it in git-subrepo you have these commit messages:
1. When you pull and there are no merge needed
2. When you pull and there is a merge (conflict or no conflict)
3. When you push and generate a new push commit to update the local references

Proposal:
For 1 and 3 a pregenerated message should do f

[2016-07-05 08:39] grimmySwe commented on #142
For 2. it might be possible to use the commit -c/-C flags.

[2016-07-06 13:51] grimmySwe commented on #142
I performed some tests and thought a little bit more... My conclusions:

1. Enable -m and -e flags for clone/commit/pull.
2. Add a (merge) indicator for pull/commit commit messages so that the auto generated messages indicate that there has happened something extra and that there is a reason for them.

I ignore the -c/-C flags for now, the merges performed inside the subrepo are somewhat artifical

[2016-07-06 23:25] mcblum opened #201 "Cannot seem to figure this out"
Need some help if anyone has a moment. First of all, thank you for putting this package together. I love it, although I can't figure it out.

Our main repo has a git subrepo called 'templates'. We'd like to be able to deploy and update templates to the server without touching the main repo. I successfully loaded the templates sub-repo, but I cannot figure out how to update it. Changes to the templ

[2016-07-07 06:56] juddgaddie commented on #201
Why don't you delete the branch it's asking you to delete.

[2016-07-07 07:02] grimmySwe commented on #201
You can use `git subrepo clean templates`, that will remove all temporary branches used by git-subrepo.

[2016-07-07 09:06] grimmySwe commented on #200
I don't really get your question here, could you please try and give an overview of what repos are involved in your operations?

Do you mean that you have a main repo including several subrepos, each of the subrepos pointing to a fork of the original or?

[2016-07-07 09:07] grimmySwe commented on #199
I don't know the process of actually doing that so I can't really answer your question. I do hope though that git-subrepo becomes widely used.

@ingydotnet What do you think of this?

[2016-07-07 14:15] mcblum commented on #201
@juddgaddie There's only one branch!
@grimmySwe Going to try that right now.

Thanks to both of you, will report back either way in case anyone finds themselves in the same position I was in.

[2016-07-07 14:17] mcblum commented on #201
`➜ git subrepo push templates
git-subrepo: Command failed: 'git rebase --onto 31e30ad9720276939767ea15e5f3a7ccc967069d b8b269ac12737599dd3cbe6bb811e9816cd7d8e5_b7bbfa1475c43c34c606c477b9708e757055cccf_4f8551a5a797deae7b65425b88edf9b096157b77 subrepo-push/templates'.
`

[2016-07-07 19:39] meireles commented on #184
Hi all -- Is there an update regarding this question / feature? I too would love to be able to checkout branches of a subrepo!
I'm temped to use @perlpunk 's approach of re-cloning every time I switch subrepo branches, maybe squashing consecutive commits from simply switching branches.
Any thoughts / directions?

[2016-07-07 22:51] dkpalmer commented on #197
Bump. Would love your perspective, @grimmySwe. Please let me know if I can clarify the problem any.

[2016-07-08 07:48] grimmySwe commented on #184
I would say that re-clone is the way to go. subrepo clone will give you an exact copy of the branch. And there is a --force/-f flag so that you don't get the
`git-subrepo: The subdir 'bar' exists and is not empty.` message.

Note though that all your local work not pushed to the subrepo will only exist in your parent repo.

[2016-07-08 08:18] grimmySwe commented on #197
@dkpalmer  Ok, lets see if I understand the situation correctly:
1. You have several projects/repos (A,B...)
2. You have created a repository with shared code (S)
3. In all of A,B,S master is pull only (no direct push)

So when you work on A you have a dev_a branch and probably create dev_a in S as well?
When you are done you need to create pull requests in both A and S?

Due to the nature of git-

[2016-07-08 08:24] grimmySwe commented on #142
@ingydotnet I think have reached "feature complete" on this branch. I haven't updated the documentation yet because I want you opinion on this first.

Current status:
- Use merge (I can't find a rebase variant that works well)
- It's possible to work with push only (if nothing changes in the subrepo)
- It's possible to override commit messages both with -m and -e
- All tests are green
- I am using

[2016-07-08 12:27] dkpalmer commented on #197
:D OK, I think that helps. Just to clarify a bit more..

As far as our situation:
(1 & 2) Yes
(3) A & B are definitely pull-only. S is pending the findings here.

I haven't done any feature branching (e.g. dev_a) in S. This part is still lost on me (see below).

Yes, got it. This has been the best part of git-subrepo for us.

I think here we're leaning towards allowing push to the subrepo if it's

[2016-07-08 13:01] grimmySwe commented on #201
There are verbose and debug flags that can give us useful output:
`git subrepo push -v -d push templates`

You can also perform these steps get an overview of what we could expect:
[code]
There are some known issues with the current implementation in the way it handles similar commits so there might be some here.

[2016-07-08 13:18] dkpalmer commented on #197
Interesting on recloning. In the back of my mind I've been worried about getting my subrepo branch in a weird state. Sounds like (clone --force) is an easy recovery.

The example of the subrepo new_branch helps a lot. I wasn't sure if I would need to create a subrepo branch from within A first before it could be pushed to S. I'll look for an opportunity to give this a shot and compare against dire

[2016-07-08 13:20] grimmySwe commented on #197
Please let us know what you decided on, it might be useful for other users.

Closing this for now.

[2016-07-08 13:20] #197 closed

[2016-07-08 13:25] grimmySwe commented on #196
Disclaimer, I haven't used MacOS... So I don't know if this helps, but until someone with better MacOS knowledge enters the discussion:

Note: MacOS seems to have a limit for 255 chars per part and maybe an upper limit of the entire path on something like 1024. So that shouldn't be the problem or...

Have you added a link or something here? Or why is there a git-subrepo file here? From the first e

[2016-07-08 13:30] grimmySwe commented on #194
You can perform a clone with --force to reset your subdir to the exact version you specified.
[code]

[2016-07-08 13:39] grimmySwe commented on #191
What version of git-subrepo are you using?

There was a bug with --all #120, #115.

[2016-07-08 13:41] grimmySwe commented on #184
@dmoss18 Do you consider this issue closed or do you need something more/else?

[2016-07-08 15:17] nathanielc commented on #194
@grimmySwe Awesome, thanks for the tip. That will probably work for my needs.

[2016-07-08 18:32] ingydotnet commented on #142
@grimmySwe good timing. @perlpunk and I took some time to try out this branch. I was hoping that the pull commits would at least be squashed but that seems to not be the case. I think we need to get on a voip call. I would be happy to accommodate you in this regard almost any time this weekend. Can you jump on IRC and let's sync up on a plan?

Cheers and thanks you all your work!

[2016-07-08 22:14] grimmySwe commented on #194
Sounds good, closing this for now.

[2016-07-08 22:14] #194 closed

[2016-07-08 22:25] grimmySwe commented on #177
You can reclone to another branch, note that it will ignore any local changes you have done and not pushed to the subrepo.
`git subrepo clone -f -b <other_branch> <subrepo>`

[2016-07-08 22:33] grimmySwe commented on #158
I am closing this issue, please report new issues if you continue testing issue/142 branch.

[2016-07-08 22:33] #158 closed

[2016-07-08 22:42] grimmySwe commented on #49
@ingydotnet I tried this a little and for me it seems to work at least with local repos side by side.

[code]

[2016-07-08 22:46] grimmySwe commented on #44
@ingydotnet I agree on testing normal output, testing verbose and debug seems to me a lot of work for very little benefit.

[2016-07-08 22:53] grimmySwe commented on #45
There are some initial ramblings in the wiki pages.

[2016-07-09 02:52] adeluccar commented on #200
Yes, what I would like to do is keep forks of software I like as subrepos but pointing to my fork and not the original repo. In my case, origin would point to adeluccar/rails and upstream points to rails/rails. In my machine, when not using subrepos I keep them updated by using the update workflow above. I would like to know if this is possible with git subrepos.

[2016-07-09 22:00] grimmySwe commented on #200
I would say that you can use the exact same workflow.

You find a cool library A, you create a fork of A called fork_A. Whenever you want to use it inside another project B you clone it in with git-subrepo. So when you work in B you will work against fork_A. When you need to push changes to A or get new feature you go directly to your fork_A and merge in the latest and push your changes. Then you

[2016-07-10 02:27] phest opened #202 "Status for comparison with remote"
I’ve been playing with git-subrepo, trying to figure out whether I can integrate it into my workflow. Thanks for building and maintaining an alternative to submobules and subtrees.

One thing I couldn’t figure out is how to get a status for comparing the positions of the subrepo and its remote, like `git status`, which informs whether it’s behind, ahead, up to date, or diverged with/of/from remote

[2016-07-10 21:35] jamesan opened #203 "Support staged installs via the DESTDIR variable"
The `DESTDIR` variable is a common pattern supported only in install\* and uninstall\* targets of a Makefile often used in package creation or other fakeroot installation situations. The specifics of the `DESTDIR` variable can be found in the [GNU Make Manual](https://www.gnu.org/software/make/manual/html_node/DESTDIR).

`DESTDIR` should never be defined in the Makefile, but, when specified as an

[2016-07-10 21:37] jamesan commented on #203
I'm going to fork and submit a pull request resolving this issue. It should be relatively painless to do (I hope).

[2016-07-10 21:37] juddgaddie commented on #203
Why not submit a pull request?

[2016-07-10 21:38] juddgaddie commented on #203
Sorry, I now see your additional message.

[2016-07-10 21:46] ingydotnet commented on #142
I had a review session with @grimmySwe yesterday. #142 looks promising. I updated the doc in 216712d2 and I am going to add support for --rebase and --dry-run for push. After that I think I can move this to master and the world will be a happier place!

[2016-07-10 22:07] ingydotnet commented on #142
@grimmySwe I think we can skip today's session. I still have more review work to do. Hopefully we can wrap this up this week.

Cheers!

[2016-07-10 22:41] grimmySwe commented on #142
@ingydotnet Sounds good, let me know if you need an second opinion on your new changes.

Just curious, the --dry-run is that everything except the local .gitrepo update? In that case --dry-run might be a little false as it will actually push thing to other repos. Something like --no-local-update might be better.

[2016-07-11 16:03] ingydotnet commented on #142
@grimmySwe: No, `--dry-run` is everything except the push and commit.

[2016-07-13 06:15] phest opened #205 "pull creates commit despite repo being up to date"
Steps:

- `$ git subrepo pull my/subrepo` ---> `Subrepo 'my/subrepo' is up to date.`
- `git commit` some local change inside `my/subrepo`
- `$ git subrepo push my/subrepo` ---> `Subrepo 'my/subrepo' pushed to '<URL>' (<branch>)`
- `$ git subrepo pull my/subrepo` ---> `Subrepo 'my/subrepo' pulled from '<URL>' (<branch>)` (This pull doesn't bring new changes from the remote, but it creates a commit

[2016-07-13 15:07] VincentClair commented on #205
+1

[2016-07-13 15:33] grimmySwe commented on #205
Version 0.3.0 and previous behaves that way. Reason for that is that
.gitrepo file is not updated.

In #142 this is discussed and will hopefully be solved in an upcoming
release.

onsdag 13 juli 2016 skrev Vincent Clair <notifications@github.com>:

[2016-07-16 14:43] georgegrigorita commented on #191
I think it was 0.3.0, since then I moved to git submodules.

[2016-07-18 19:22] jmatsushita opened #206 "Subrepo hooks documentation"
Would be great to have examples of how to setup for instance a pre-push hook on several subrepos.

[2016-07-18 19:43] jmatsushita commented on #206
Doing a `git subrepo push` with the `pre-push`:
[code]

Nothing is printed even with `-d` or `-v`. It does prints empty strings when using `git push`.

[2016-07-18 19:45] jmatsushita commented on #206
Ha `-x` does display the $PID and `push`.

[2016-07-18 19:57] jmatsushita commented on #206
Hmm... Looks like it would be useful if the `<subdir>` was also exported. Or if GIT_SUBREPO_COMMAND also exported the subrepo arguments ?

[2016-07-18 21:02] jmatsushita commented on #206
It seems I can work around and find the `subdir` by using the `while read local_ref...`

Next problem, I can't seem to be able to run an interactive command (I'm trying to setup a hook that will request interactively to upgrade the semantic version of specific projects).

I'm very far from being competent at bash, but when trying a few things (particularly starting a bash -i from the hook) I get `

[2016-07-20 15:54] ryanhelms opened #208 "Existing file structure and unexpected things"
Hello,

I may be an edge case here, I am new to your subrepo idea but think it is fantastic, if I can get it to work for my use case, so here goes

I have an existing file structure that looks like this:

**This is the root Git repository**

![Root Git Repository](https://cloud.githubusercontent.com/assets/1596639/16991418/85bd930c-4e69-11e6-96eb-2f94942a7718.PNG)

**These are the first set of sub

[2016-07-21 09:59] Innovative-Ideas opened #209 "Suggestion to Update install instructions for Windows"
Hi. I'm on windows 10 and am using the 64 bit version of git bash downloaded from https://git-scm.com/downloads.

Looking at your install instructions it says

However, I found when I used the following path to git-subrepo in my .bashrc file:
`C:/Users/<user name>/Documents/repo/misc/git-subrepo/.rc`

that bash reported the following error:
`bash: cd: //C:/Users/<user name>/Documents/repo/misc/git

[2016-07-21 10:17] Innovative-Ideas opened #210 "Unable to run git subrepo upgrade despite having git-subrepo/lib in PATH"
Hi. I am using Windows 10 and the 64 bit version of git bash downloaded from: https://git-scm.com/downloads

I added the git-subrepo/.rc file to my ~/.bashrc file.
I can use git subrepo commands.

However, I then tried using:
`git subrepo upgrade`

and the following error was displayed:

However, when I type
`echo $PATH`

I see that I do have the correct directory included.

I can type the entire

[2016-07-21 10:35] Innovative-Ideas commented on #199
@grimmySwe  @ingydotnet

If you look at: https://github.com/git/git
It says:

Here's a link to Documentation/SubmittingPatches:
https://github.com/git/git/blob/5fe494c54ae44ae01a8efa91d00ac9d4c1c475e9/Documentation/SubmittingPatches

Best Regards!

[2016-07-21 15:05] ingydotnet commented on #199
My stance has always been to NOT add this to git. That would mean that different versions of git-subrepo would ship with different versions of git, and I'm not comfortable with that. Since the tool only applies to project authors (and certain collaborators) I feel that installing and updating it separately is not a big ask, and furthermore it will allow us to make sure it is never broken on any ve

[2016-07-21 15:05] #199 closed

[2016-07-21 22:18] gcstang opened #211 "git-subrepo clone doesn't work with email as part of url for authentication"
git-subrepo clone ssh://user.name%40domain.com@git.mydomain.com:3333/subreposub1.git subreposub1
Returns
git-subrepo: Command failed: 'git ls-remote ssh://user.name domain.com@git.mydomain.com:3333/subreposub1.git'.

[2016-07-21 23:48] perlpunk commented on #211
Right, the percent sign is interpreted by printf.
Can you try out if pull request #212 works for you?

[2016-07-22 00:28] gcstang commented on #211
That worked!

Thank you

[2016-07-22 01:24] rbellamy commented on #186
2016-07-21 18:24:28
rbellamy@eanna i ~/Development/Terradatum/ansible/ansible-metrics master % git subrepo push --debug roles/httpd

git-subrepo: Command failed: 'git rebase --onto 9b5e6b893220b351baece30175aa90c61261e02d 8336401263724b6f871322bec23b30e3e29472dc subrepo-push/roles/httpd'.
zsh: exit 1     hub subrepo push --debug roles/httpd

[2016-07-22 02:14] Innovative-Ideas commented on #199
Thanks for the response ingydotnet.
@ingydotnet  @grimmySwe  @gamename  What do you think the benefits would be of adding subrepo to the official git distribution?

[2016-08-11 21:12] AndrewSmart commented on #209
I think the install instructions are fine as is. I suspect either:

1. Your user name had either a space or a character that required escaping, or
2. The git-for-windows bash has a specific prefix for absolute paths. For example the drive labeled `C:` on cygwin is accessed by default on `/cygdrive/c` This would be specific to that platform, not git-subrepo.

Feel free to put a FAQ entry in the wik

[2016-08-11 21:37] AndrewSmart commented on #208
I don't understand your terminology. You can nest subrepos if that is what you're asking, but you're asking more than that? This sounds more like consulting questions than an issue. Send an email to Ingy if you're still hung up.

[2016-08-12 10:22] AndrewSmart commented on #210
Ingy doesn't use MS Windows. I don't think grimmySwe does either and he's taking a long break anyway.

Sorry I don't have MS Windows either, and I'd be using Cygwin if I were (because you get all the other nifty unix stuff, up-to-date things, and e.g. X11 to run things like gitk).

Your PATH sounds valid as you have access to the `git subrepo` commands fine.

My impression is that the [check](http

[2016-08-15 12:05] grimmySwe commented on #208
First of all I would like to clarify that git subrepo is a way to share common things between different repos. So before you start making everything into separate subrepos I would take a moment and really make sure that you intend to share everything.

Why? Because the subrepo will introduce an overhead and if you don't use the benefits of the subrepo it's unnecessary to pay the price.

Don't negl

[2016-08-17 06:05] boardmanus opened #213 "Question: How do I diff the local subrepo'd directory with the remote repo?"
I want to see what changes I will be pushing to a subrepo directories upstream repository, but can't work out how to perform such a feat.

I saw an issue to add a subrepo diff command was rejected in favor of documenting how to diff the subrepo, but the wiki doesn't appear to be updated with such information.  The issue implies that a command such as `git diff refs/subrepo/ext/bashplus/fetch subre

[2016-08-17 19:28] zhimsel commented on #60
I'm getting the same issue as @noidi and @rbellamy. After removing a previous subtree, and cloning a subrepo in the same place, `git subrepo merge-base` thinks the previous history from before the subtree was removed is a common ancestor. This causes any `subrepo pull` to fail. Should this be turned into a new issue?

[2016-08-17 20:42] zhimsel commented on #60
The following output is the git history from a freshly clone subrepo, after `git rm -rf`'ing the subtree, and `subrepo clone`ing where it once was:

[code]

It should look like this (cloned the same repo into a different folder):
[code]

It seems that subrepo is picking up on the old subtree history and preventing a clean rebase when pulling upstream changes.

[2016-08-17 21:40] zhimsel commented on #60
Ok, I was able to find a way to fix this, at least on a per-subrepo basis (this will need to be done any subrepo that is affected by this issue). You'll need to download the [`git-reparent`](https://github.com/MarkLodato/git-reparent) script.

[code]

I tested this working for the "next" pull by manually changing the `<subdir>/fetch` ref to a commit before the actual commit at the remote's HEAD. I

[2016-08-18 07:43] grimmySwe commented on #213
To diff correctly you need to create the local version of the subrepo that you intend to push. To accomplish this you use the `git subrepo branch` command. It will go through your repo and reconstruct a local version of the subrepo and put that in subrepo/<SUBREPO> branch.

[code]

I hope that works for you!

[2016-08-18 18:08] torinaki commented on #186
Same problem for me.

[2016-08-18 19:54] torinaki commented on #186
I'm using subrepo fot push-only, so I need to just synchonize remote repository and I do not commit anything into remote repository directly. After investigation I have figure out that it fails to rebase  commit that follows merge commit that solves merge conflict. So need to solve this conflict again.

[2016-08-19 11:21] grimmySwe commented on #142
Added 2e78d5d6 to handle author information, previously it was overwritten with the user that pushed commits to the subrepo. Now author will contain the original author, committer will be the person that actually creates the commits and pushes them.

[2016-08-19 13:11] grimmySwe commented on #186
Current implementation (0.3) has a lot of troubles with duplicate tree hashes so that might be one cause of it. There is a subrepo command called merge-base that actually simulates what it's trying to do behind the scene.

Something like this should give you a hint:
[code]

I am currently working on a new version #142 that should handles this in another better way.

[2016-08-20 11:43] torinaki commented on #186
@grimmySwe thanks you for quick response. I will try to fix this issues as you have suggested. I also was tried another tool that do same thing: https://github.com/splitsh/lite . It written on Go and is incredibly fast! It originally written for large repos to automate splitting it into many subrepos and used by such project like https://github.com/symfony/symfony. I'm suggesting to take a look. M

[2016-08-22 16:40] kilowu commented on #192
I'm using the latest version of subrepo (pulled from master).

I found out that the problem is about to the bash environment.

There is a [[ command's =~ operator in git-subrepo line 1166:
[code]

The rhs argument is ``^\+``. It does not match the "+pattern" in my machine. I tried to change it to ``^\\+`` and after that it worked in my environment.

It looks like a bash compatibility issue.

[2016-08-24 01:18] boardmanus commented on #213
Thanks, that did the trick.

[2016-08-24 01:18] #213 closed

[2016-08-25 16:34] micah opened #215 "Updating subrepo failure: git-subrepo: Command failed: git rebase --onto"
i'm having trouble updating a subrepo, i did this:

[code]

if I run with debug to see the commands:

[code]

If I run the commands one by one, when I get to the rebase one at the end, I'm told:

[code]

Any ideas?

[2016-08-25 20:54] ingydotnet commented on #215
@grimmySwe what's with that invalid rebase sha with underscores in it?

@micah if you `git checkout issue/142` in the `$GIT_SUBREPO_ROOT` directory your `pull` works.

issue/142 fixes many many issues but still needs to get merged to master. @grimmySwe I have an open weekend coming up. You?

Still I think this is a bug in master...

[2016-08-26 23:09] grimmySwe commented on #215
@ingydotnet I will have some time this weekend. The _ in sha is a leftover from the by bash array indexing, as you say there is probably a bug in there somewhere.

@micah To find the bug I would need to reproduce this case, I see that you use https://leap.se/git/puppet_tor, could you add some more example, where didi you clone and what did you do before you tried to pull in updates?

[2016-08-27 23:48] ingydotnet opened #216 "Merge #142 with master"
Issue #142 basically does a merge commit on pull and master does a rebase. We
are going to make it so that pull has 3 strategies:

* --merge
* --rebase
* --reclone

and the user will need to specify one of these when they do a pull. If they
don't then they will get an informative message thelling them to do so. The
choice can be persisted in one of 2 ways:

* .git/config

[code]

* subrepodir/.git

[2016-08-28 06:54] ingydotnet commented on #216
@grimmySwe, I tried to rebase this but had a few hiccups. I think I can do it
cleanly, but I need to sleep first. More tomorrow.

[2016-08-28 13:31] micah commented on #215
@ingydotnet yes, if I checkout the branch issue/142, source the .rc, then it works.

@grimmySwe it seems like the bug is fixed in that branch, but if you want to see for yourself, you can do:
[code]

[2016-08-28 13:39] kraftwer1 opened #217 "Wiki Basics: Command failed: 'git push ...'"
I followed the [Wikis Basics tutorial](https://github.com/ingydotnet/git-subrepo/wiki/Basics) and everything worked great until this step:

    $ git subrepo push shared

...which fails without telling me exactly why:

    git-subrepo: Command failed: 'git push --force /project/shared subrepo-push/shared:master'.

...and leaves a branch behind called `subrepo-push/shared`.

I'm using `git version

[2016-08-28 19:48] ktomk opened #218 "git-subrepo: Command failed: 'git rev-parse FETCH_HEAD^0'."
Here is another one that does not work with git:

[code]

I was on master and tried issue/142 as well.

When I visit the repository (I have it on disk) and try the command there I get:

[code]

Which looks great. Immediatly switching back to the other directory:

[code]

My subrepo is a local directory (non-bare git repo) with a relative pathname to remote.

I might not be that responsive the next

[2016-08-29 01:34] ingydotnet commented on #217
Try running again with the `-v -d` flags. This should show you exactly what failed.

[2016-08-30 11:22] grimmySwe commented on #215
So I found the bug, as a novice bash programmer I used > instead of -gt inside my [[ ]].

Here is a patch that will solve the problem.
[code]

@ingydotnet Should we include this on current master while we wait for #142? It will not be present in #142 as the merge base has been replaced.

@micah Applying the patch above will get rid of your problem BUT another will appear, it will not find a common

[2016-08-30 11:30] grimmySwe commented on #218
FETCH_HEAD is a short lived reference created by the `git fetch`. So moving between repositories will reference different FETCH_HEADs.

Can you run `git subrepo -v -d fetch shared` that will output some verbose and debug information.
I will try to reproduce it but haven't succeeded yet.

[2016-08-30 11:34] grimmySwe commented on #218
From the code:
[code]
For this to fail something needs to happen in the git fetch step that aren't considered an error.

[2016-08-30 11:35] grimmySwe commented on #216
@ingydotnet How is it going? Please let me know if I can help you out with anything.

[2016-08-30 11:54] grimmySwe commented on #160
I think this is solved on #142

[2016-08-30 12:48] kraftwer1 commented on #217
Thanks, I've tried, can you see an obvious error? Did I miss something?

    $ git subrepo push -v -d shared

    * Fetch the upstream: ../shared (master).
      * Fetch '../shared' (master).

      * Get the upstream subrepo HEAD commit.

      * Create ref 'refs/subrepo/shared/fetch'.
    * Check upstream head against .gitrepo commit.
    * Create subrepo branch 'subrepo-push/shared'.
      * Ch

[2016-08-30 13:39] grimmySwe commented on #217
If you are using a local repo (a) as subrepo, you can't push to (a) unless you you have switched branch in (a). Otherwise you will try to move the branch reference currently referenced.

There is an important line hidden in the basic example:
[code]
So if you go to shared and do the above you should be able to push.

[2016-08-30 14:05] kraftwer1 commented on #217
So if I clone from a remote repo, it will work even without `git checkout -b other`?

[2016-08-30 16:57] ingydotnet commented on #217
I didn't even know that you could clone a local working directory. I would have cloned `../shared/.git`. Then you would't need to do any branch switching.

[2016-08-30 17:02] ingydotnet commented on #216
I'm still thinking on merge strategies :\

[2016-08-30 17:37] grimmySwe commented on #217
Yes, if you have a remote repo as subrepo there will be no problem.

As long as no one has active references in there. I think that you can say
that if you have bare repos as subrepos there will be no problem.

tisdag 30 augusti 2016 skrev kraftwer1 <notifications@github.com>:

[2016-08-30 17:45] ingydotnet commented on #217
I meant that (I assume) `../shared` is not a git repo; it is a working directory whose repo is in `../shared/.git`.

[2016-08-30 18:31] grimmySwe commented on #217
As far as I know there is no difference between the working dir and the
.git dir inside it. You still need to switch branch unless you add some
setting in the repo that allows you to change references underneath your
feet.

Just tested to use .git and it still complains.

tisdag 30 augusti 2016 skrev Ingy döt Net <notifications@github.com>:

[2016-08-30 20:12] micah commented on #215
@grimmySwe thanks for the response, but now I'm just a little bit confused. When I checked out branch issue/142, the problem was resolved... but you seem to be saying that you have a patch that is different, and introduces another error.

If I use branch issue/142, will that introduce the other error, or is that not going to be there?

Also - forcing a reclone will fix this issue, but does that ca

[2016-08-31 07:28] kraftwer1 commented on #217
Yes, it indeed works with a remote. Thanks for the amazing work.

[2016-08-31 07:28] #217 closed

[2016-08-31 07:37] grimmySwe commented on #215
@micah Sorry for the confusion. I'll try to explain:
1. Current master 0.3.0, has the bug explained above.
2. #142 does not have the problem
3. We are about to merge in #142 to master so that this problem will be solved but the question was when, if we should apply this patch for now.

Regarding reclone there are no side effects except that you will ignore any local changes. cloning will take the

[2016-08-31 21:05] ingydotnet commented on #217
@grimmySwe, what am I missing in this reproduction: https://gist.github.com/7d11d142efb1c64963f427f43def424c

[2016-08-31 21:14] grimmySwe commented on #217
You push with -b flag and that will create new references. If you try
without -b it will fail in both cases because you try to move the master
reference that is currently in use.

I think there is some configuration property that will allow you to do it,
I can't remember the name now though.

onsdag 31 augusti 2016 skrev Ingy döt Net <notifications@github.com>:

[2016-09-01 06:11] callalilychen opened #220 "`git subrepo status` and `git subrepo clean` autocompletion does not work in zsh"
Hi,

I have installed git subrepo and configured it for zsh. I tried to use subrepo with some test repositories. But `git subrepo status` and `git subrepo clean` autocompletion to add a subdir does not work and prints the following error message:

PAGER;col: -c: line 0: unexpected EOF while looking for matching `"'
PAGER;col: -c: line 1: syntax error: unexpected end of file

Under [http://pastebin

[2016-09-01 07:38] grimmySwe commented on #217
Found out that if you remove -b you will also run in to other problems :-) First of all you end up in a strange dependency to itself resulting in `git-subrepo: Local branch is not updated, perform pull or use '--force' to always trust local branch in conflicts`

If I use a separate repo as subrepo I will need to change something otherwise I will get `Subrepo 'xxx' has no new commits to push.`

[2016-09-01 15:54] perlpunk commented on #220
So the pasted output is from `git subrepo status -x`? That means, the error message is independent from completion.
I wonder where that line with

    /bin/sh -c '"unset' 'PAGER;col' ...

 comes from. Can you post your relevant `env`?

[2016-09-07 13:16] jmatsushita commented on #188
I'd love a `git subrepo push foo --tag=v1.2.3`!

[2016-09-08 15:08] alexfouche opened #221 "Cannot find common ancestror after fork"
Hi,
I have for example this project https://github.com/alexfouche/puppet-redis which i forked and subrepo cloned, then i cannot push. Even after i added a commit independently, and then remove and subrepo clone again, i still cannot push due to no common ancestror.
Let me recap:
1. On Github, i fork https://github.com/arioch/puppet-redis
2. on my workstation, i `git subrepo clone https://github.co

[2016-09-08 21:36] jamiechong opened #222 "On pull I get => git-subrepo: Command failed: 'git branch ...'"
I have a subrepo inside another subrepo.

[code]

I was able to `git subrepo pull` with `git-subrepo#master` for `trellis`
I had to use branch `issue/142` to pull for `site` because of ticket #215

But the pull fails for `site/web/app/themes/mytheme` on both `master` and `issue/142`

On `master` I get this error:
`git-subrepo: Command failed: 'git branch subrepo/site/web/app/themes/mytheme'.`

On

[2016-09-09 07:14] grimmySwe commented on #222
Hi, there is a verbose (-v) and a debug (-d) flag that can be used with subrepo. Adding both of those flags will output a lot of useful information.

[2016-09-09 07:21] grimmySwe commented on #222
I see that you have subrepo within subrepo:
subrepo/site                                             https://github.com/roots/bedrock.git
subrepo/site/web/app/themes/mytheme   https://github.com/roots/sage.git

There might be conflicts in this if you work with the sage repo as active because then you might override the bedrock repo.

If you want sage to be a part of bedrock then I think it would b

[2016-09-09 07:30] grimmySwe commented on #221
Current (0.3.0) implementation has some big flaws, we do know this and in #142 we are designing a new version. You can test the same use case with issue/142 branch and see if it solves your problem.

Reason is that it works on tree hashes and that they can be duplicates.

[2016-09-12 05:06] ktomk commented on #218
Output of the verbose command:

[code]

Removing the `--quiet` switch in the code does not give more output.

[2016-09-12 07:27] grimmySwe commented on #218
I can't reproduce this so I will need some more input:
1. What version of git are you running?
2. Do you have other subrepos that work?
If yes: is there something special about this subrepo?
If no: Can you create an example and see if you can reproduce it?
3. Are the repos public so I can try it out myself?

[2016-09-12 17:51] ktomk commented on #218
[code]

No, this is my first project with a sub-repo

Not yet, right now I use a local repository as shared. If you can give me a hint on how I can change (the remote URL?) from local (file) to Github (http/ssh) I can easily share this. This might be worth to do anyway, b/c I have the feeling there might be an issue because of using a local, relative remote URL.

[2016-09-12 17:52] ktomk commented on #218
Just as additional information, this is how in one of the subrepo-using repositories has the remotes configured:

[code]

As you can see, this is partially public already, I've just started to play around with subrepos.

[2016-09-15 09:50] jmatsushita opened #223 "Allow merging subrepos"
Hi there,

(I'm using issue/142 branch). I thought maybe my request was related to #197 but I can't figure it out so I might be having a different (and simpler) problem. I'm sharing my thought process and attempts so that maybe it can be helpful to improve the user experience for less git-savvy users like me.

I'm trying to do a merge in a child repo from a parent repo.

If I was not in a subrepo

[2016-09-15 10:39] alexfouche commented on #221
branch #142 seems to work fine and solved my problems

[2016-09-15 11:44] grimmySwe commented on #223
Lets see if I can help you with this. With subrepo you can't really merge only the subrepo. If you want to merge the actual subrepo content you need to work with the subrepo as a regular repo.

What you can do is creating a branch in your parent repo, clone in contents from another branch and then merge the parent repo branches. Then you can push the result of that into the subrepo, note that you

[2016-09-15 12:27] jmatsushita commented on #223
Ok it does make sense! That's a feature request then :)

[2016-09-16 06:20] csteinlehner opened #224 "Repos with underscore (_) in name can't be added"
Hi,

I just tried to add a sub-repo with an underscore in the name like this
`git subrepo clone https://someurl.com/test/test_test.git` and I get following error `git-subrepo: Can't determine subdir from 'https://someurl.com/test/test_test.git'.`

I tried that with several Repos with an underscore in the name and its always the same.

[2016-09-16 08:30] grimmySwe commented on #215
Created issue/215 branch for this and applied the patch.

[2016-09-16 08:30] grimmySwe commented on #224
Yes it seems to be a bug... Solved this in branchissue/224.

[2016-09-17 17:51] csteinlehner commented on #224
will this be merged in the near future?

[2016-09-17 19:58] moritz opened #225 "Cannot `git subrepo clone` a repository with a .gitignore that ignores dotfiles"
A

[code]

Fails with

[code]

The reason appears to be the .gitingore file in the repo I'm trying to clone, which has the rule `.*` to ignore all dot files -- including the .gitrepo file.

Expected behavior: being able to clone arbitrary repos as subrepos :-)

[2016-09-19 07:14] grimmySwe commented on #225
There might be a solution to this in #160, but that's not on master yet.

[2016-09-21 08:42] csteinlehner opened #227 "git subrepo push does not work"
Hi,

first I'm on branch `issue/224`.

After pushing to the repo managed with git-subrepo I tried to update the subrepo with `git subrepo push --all -v` and get following output:

`* Fetch the upstream: https://someurl/UXMobile/GitTest3.git (master).
  * Fetch 'https://someurl/UXMobile/GitTest3.git' (master).
  * Get the upstream subrepo HEAD commit.
  * Create ref 'refs/subrepo/GitTest3/fetch'.
*

[2016-09-21 08:47] grimmySwe commented on #227
Some basic questions first to rule out the easy solutions:
1. Do you have push access to the 'https://source.xing.com/UXMobile/GitTest3.git' repository?
2. Have this ever worked? Have you pushed successfully before?
3. Have you used git-subrep for other things were it works or is this your first attempt?

[2016-09-21 09:20] csteinlehner commented on #227
1. Yes, I can push if I check out the repository normally
2. With subrepo I tried this the first time I think.
3. A quite new to git-subrepo and trying stuff, pushing like this was I think my first time, other stuff works with git-subrepo.

[2016-09-21 09:21] grimmySwe commented on #227
Have you tried without the --all flag?

[2016-09-21 09:25] csteinlehner commented on #227
If I just try to push GitTest3 I get the same error.

[2016-09-21 09:27] grimmySwe commented on #227
can you add the -d flag and see if that gives some more information?

[2016-09-21 09:31] csteinlehner commented on #227
This is the output from `git subrepo push GitTest3 -vd`

`>>> git rev-parse --verify HEAD
* Fetch the upstream: https://source.xing.com/UXMobile/GitTest3.git (master).
  * Fetch 'https://source.xing.com/UXMobile/GitTest3.git' (master).

  * Get the upstream subrepo HEAD commit.

  * Create ref 'refs/subrepo/GitTest3/fetch'.
* Check upstream head against .gitrepo commit.
* Create subrepo branch 'su

[2016-09-21 12:02] grimmySwe commented on #227
I noticed that in this version of git-subrepo we use --force to the push, this might not be allowed in all repos as it might mess up other peoples work, when you tried to push directly, did you use --force?

If not try that and see what happens.

[2016-09-22 05:58] csteinlehner commented on #227
I if push directly with --force to the repo it works as usual.

[2016-09-22 06:15] csteinlehner commented on #227
With a different subrepo in the same master repository I now get the following error:

`git-subrepo: Command failed: 'git rebase --onto 81e3f3f004720c0ffe73db38a47521fa1b9db52a e20d781a647fd48388ba293f537885f50ecbcf2b_3a853c947deea7fb5fd1c5326fd22642bd4dbe51_cd9b5767c0027c4cf4287c7d5dbae7e5dcbed84f_d4295ef3421a30279017469ce39f511d9c98c170 subrepo-push/test_test'.`

I freshly cloned this repository

[2016-09-22 07:12] grimmySwe commented on #216
@ingydotnet any progress :-) or are you stuck in the strategies, I have some spare time if you need assistance with something.

[2016-09-22 14:00] ingydotnet commented on #216
@grimmySwe Thanks for the reminder. Let's meet again on IRC today at the usual time.

[2016-09-22 17:37] grimmySwe commented on #216
@ingydotnet I have an early morning tomorrow, what about tomorrow?

torsdag 22 september 2016 skrev Ingy döt Net <notifications@github.com>:

[2016-09-22 18:09] ingydotnet commented on #216
@grimmySwe sure!

[2016-09-25 01:48] ingydotnet commented on #216
Fixed the bug in my environment for `test/push.t`.

Pushed the 216_b branch plus my fix to `issue/216` branch and deleted `issue/216_b`.

Also added url ref to issue 142 to all the 3 commit messages.

@grimmySwe, great work. Now it's my turn. I'm going to start by pulling back in
the deleted tests, see if they still make sense, and then getting them to pass.
Then add the ToDo stuff documented here

[2016-09-26 18:11] hainm commented on #192
I got the same issue with current master branch (1e795953d4265abacf828ed7e66036cff281fc7c) and your solution works for me too.

[2016-09-26 18:33] ingydotnet commented on #192
@kilowu @hainm could you both post the output of:

[code]

[2016-09-26 18:34] hainm commented on #192
mine
[code]

[2016-09-26 18:42] ingydotnet commented on #192
@hainm which linux distro and distro version?

[2016-09-26 18:45] hainm commented on #192
[code]

[2016-09-26 18:51] ingydotnet commented on #192
Ok so I think we are dealing with the oldest possible supported Bashes. I refuse to support Bash before it added regex. But there are some bash versions with buggy regex that I will support. Here is the reproduction and the workaround:

[code]

I'll make a fix, and ask @hainm to test it. Give me a moment.

[2016-09-26 19:02] ingydotnet commented on #192
@hainm would you please test the fix on branch `issue/192`.

BTW, you should be able to run `make test` on both `master` and `issue/192` branches to see the fail and the fix. (Well hopefully there is coverage).

If it works out, let me know and I'll merge to master... after lunch!

[2016-09-26 19:10] hainm commented on #192
I got different failures with `issue/192`

[code]

master
[code]

[2016-09-26 21:26] ingydotnet commented on #192
Oh dang. That makes sense. I fixed the fix and force pushed to `issue/192`. @hainm Can you test that?

Also report back if any other failing tests in the `make test` suite. Cheers!

[2016-09-26 21:33] hainm commented on #192
tests passed. thanks.

[2016-09-26 21:43] ingydotnet commented on #192
Fixed and closing.

Thanks @hainm for testing this.

[2016-09-26 21:43] #192 closed

[2016-09-27 19:59] farazhussain opened #228 "subrepo clone and pull works, but show subrepo says "local out of date""
Hi,

[Using Ubuntu 16.04, git 2.7.4, git subrepo 0.3.0.]

I successfully cloned a remote into a local subdirectory as a subrepo and am easily able to pull from the remote whenever there are changes to it.

However, I have problems when I inspecting the remote (emphasis mine).

$ git remote show subrepo/subdirname
*remote subrepo/subdirname
  Fetch URL: git@bitbucket.org:myusername/myremoterepo.git

[2016-09-28 11:36] grimmySwe commented on #216
@ingydotnet I have thought some on possible solutions for the rebase case, but I can't find anything better then the one where you probably have to solve conflicts twice, once when you pull and then another time at push. If you want you can use the squash when pushing to avoid this.

BUT... I would say that the rebase case is still good enough to have as a default strategy as it will work well in

[2016-09-28 12:55] grimmySwe commented on #216
I tried to implement a "rebase" method and it seems good so far :-) Currently there is a join_method variable that can be set to rebase to try it out.

@ingydotnet I feel that I have little experience with setting/getting configuration from different parts of git so I leave that to you.
I haven't started to update the test cases yet as I feel that we should decide the layout for the tests, should

[2016-09-28 13:59] grimmySwe commented on #228
'git remote' is not aware of git subrepo so it has no chance of determining if the subrepo is up to date.

[2016-09-28 22:15] farazhussain commented on #228
Ah, thank you!

'git subrepo status --fetch' seems gives me what I need -- the upstream ref and the pulled commit.

[2016-09-29 07:13] grimmySwe commented on #228
Good, closing this.

[2016-09-29 07:13] #228 closed

[2016-10-03 13:28] robertjpayne commented on #227
@csteinlehner I was having a very similar issue today, I have 2FA setup on GitHub and needed to enter a `Personal Access Token` for password rather than my regular GH password. If you're using SSH that doesn't happen as SSH keys are always trusted.

[2016-10-05 05:33] snaddenm commented on #142
I've been having rebase errors while pushing subrepos that looked like they should have pushed without errors. I stumbled across this issue and branch today and when I tried it my problems were gone. Thought I'd drop a comment here as a vote to move ahead and merge this branch into the master branch.

[2016-10-07 21:21] brubbel commented on #227
I encountered the same problem today. I tried to run the failed command manually:
git push --force https://someurl/UXMobile/GitTest3.git subrepo-push/GitTest3:master
At this point, more verbose information came up on the failure (which was related to write permissions in my case). There should be more information printed when a subrepo command fails, especially when using the --debug option.

[2016-10-11 02:56] gzm55 commented on #147
this pr #231 try to fix this problem by encoding the invalid parts to a safe git ref.

[2016-10-11 19:22] MunifTanjim opened #232 "`git subrepo clone <repository> .<subdir>` (subrepo clone in dot subdirectory) fails"
If _https://github.com/example/remote_ is the remote repository and we want to add it in _.remote_ subdirectory as subrepo:

`git subrepo clone https://github.com/example/remote .remote`

It throws the following error:

`git-subrepo: Command failed: 'git remote add subrepo/.remote https://github.com/example/remote'.`

[2016-10-12 00:48] gzm55 commented on #232
see pr #231 or issue #147

[2016-10-20 09:16] mrfelton commented on #142
The work done here looks really promising. It doesn't solve my issue unfortunately, which is that things tend go haywire when you use the `--all` flag.

Here are some of the issues:

When I run this command, there are 2 issues:

1. it's ignoring the `-b` switch and pulling everything form the branch that is listed in the .gitrepo file (develop in my case). The documentation indicates that `-b` sho

[2016-10-21 15:37] etpace opened #233 "git subrepo merge-base failure (when pushing) -- Can't find a common ancestor"
Hi guys,

Getting this bug when trying to push to a subrepo, even with a super simple change (git subrepo clone, minor change, commit, git subrepo push). Git merge-base seems to be unable to find a common ancestor -- even though there clearly is (Shown below, commit attribute points to the last commit)! Possibly because there are multiple found (debug information below)?

Is there any way to overr

[2016-10-24 14:03] mrfelton commented on #142
I thin there is a problem with this PR with is that --update is applied by default when pushing, and there is no way to override this. This makes working across multiple subrepo branches very painful.

[2016-11-01 22:47] rfabbri opened #235 "failing several tests on Mac OS"
[code]
Line 66 reads   (exit ${1:-$?}) &&

Apple has ships an old bash by default, see http://apple.stackexchange.com/questions/193411/update-bash-to-version-4-0-on-osx

[2016-11-01 23:04] rfabbri commented on #235
Just tested with both 4.4.0 and 3.2.57 bash and it doesn't work. Same error.

I really wanted to test out your approach.

[2016-11-02 13:21] thomaslevesque opened #236 "Incomplete instructions for manual installation"
Because I'm on Windows and using [posh-git](https://github.com/dahlbyk/posh-git), I had to use the manual installation instructions, but I kept getting an error about "bash+.bash". Following the same instructions in bash (still on Windows) gave the same result. Apparently it's not enough to set the PATH environment variable, GIT_SUBREPO_ROOT has to be set as well.

[2016-11-11 08:58] grimmySwe commented on #216
@ingydotnet We have started to use the git-subrepo (branch 216) in our production environment and it looks quite good. BUT... there are some cases that needs to be addressed.

The main issue is that the current algorithm will try to create a linear history when creating the local version of the branch it wants to attach to the subrepo. It does this by using the --first-parent option to rev-list.

[2016-11-11 10:09] grimmySwe commented on #193
@jrosdahl and I discussed this and the simplest way here is probably to use `no-verify` on all "subrepo" operations as there is no chance to actually have a different sets of hooks for the subrepo. As you always stay in the same repo with the same hooks directory.

[2016-11-15 21:33] callalilychen commented on #220
Hi,

thanks very much for the quick response, I almost forgot it.

I saw the following item in my `env` output:
`
PAGER=/bin/sh -c "unset PAGER;col -b -x |     vim -R -c 'set ft=man nomod nolist' -c 'map q :q<CR>'     -c 'map <SPACE> <C-D>' -c 'map b <C-U>'     -c 'nmap K :Man <C-R>=expand(\"<cword>\")<CR><CR>' -"`

This is a environment variable, to config the output pager for `man`. Does subrepo

[2016-11-15 23:40] perlpunk commented on #220
I see. Yes, it's using PAGER.
Until someone figures out how to fix that, a quick workaround should be:

    export GIT_SUBREPO_PAGER=less

[2016-11-16 20:24] callalilychen commented on #220
thanks very much for the answer.

I just was in the mood to fix the problem und created a pull request :package:

[2016-11-19 20:03] callalilychen opened #239 "Remove a cloned subrepo"
Hi,

what is the better way to remove a subrepo reference, after cloning a repository using subrepo?

I tried to do it with git-subrepo clean, and I also removed the directory and the item in .git/config. But I can still see the whole history of the clone sub-repository, using gitk, even if `git-subrepo status` told me, that I have no subrepos.

[2016-11-22 13:25] grimmySwe commented on #233
There are a lot of issues with the 0.3.0 version causing this behavior. Can you test out branch #216 and see if that works instead?

[2016-11-22 13:30] grimmySwe commented on #239
If you remove the subrepo/.gitrepo file you remove everything. Note that when you commit things in your regular repo (subrepo pull) they will stay.

Could you give some more examples so I understand what you mean?

[2016-11-23 20:42] callalilychen commented on #239
for example:
I have "testproject" as my regular repo and a "subrepotest" repo. I cloned "subrepotest" into "testproject" using git-subrepo clone.

Then my .git/config is as following:

[code]

Now I would like to remove the "subrepotest" from my regular repo, so I do `git-subrepo clean --ALL`.

Then I get a change that subrepotest./.gitrepo ist now deleted. But I can still see the whole history of

[2016-11-28 19:54] rdzman commented on #235
Works fine for me on macOS Sierra 10.12.1, which has ...
[code]

The result is ...

[code]

So, I'm not sure what's causing the error in your case, but it doesn't seem to be a universal problem on Mac OS.

[2016-11-29 00:28] ingydotnet commented on #235
@rfabbri I get the sme clean results as @rdzman running the same OS X version.

I'm well aware of the Bash version issues and I code to that version of Bash.
(Actually a bit older to deal with some older Centos).

Can you gist the output of `shopt`? You might have a non default setting that
causes the breakage. Here's mine: https://gist.github.com/eba08fea80e9567d1939fb1ca2e40d2f

[2016-11-29 01:39] ingydotnet commented on #216
@grimmySwe Greetings. I finally am sitting down to merge the `issue/142` and
`issue/216` branches into `master`. THat's the good news. The bad news is I
can't figure out a good way to merge the commits.

What I think I'd like to do is just diff

[2016-11-29 03:59] ingydotnet commented on #216
I finally have time to merge the `issue/216` branch to `master`.

I've just pushed a new branch called `issue/216-B`. THe head is dde65a5 and all
tests are passing (through no effort of my own). This branch has
`origin/master` in its history and so can become `master` when it is done.

I made the new branch by starting with `master` and then cherry-picking all the
new commits ( 1e79595 .. 169a0ed

[2016-11-29 07:37] ingydotnet commented on #216
@grimmySwe, I started by making the docs read the way I think it should work.
See a30cd54.

Fixed a few doc errors and inconsistencies.

[2016-11-29 12:31] grimmySwe commented on #216
@ingydotnet So far it looks good! Please let me know if I can assist you in anything.

[2016-12-01 14:45] ktomk commented on #218
I switched the repository URL from "../mr-shared" to "git@github.com:ktomk/mr-shared" and I don't see the error any longer. Changing it back to the relative URL brings back the error.

As the local repository is non-bare I would assume this is just not compatible with git subrepo. I also had errors earlier (due to having a branch checked out) for which I could workaround but now with this finding,

[2016-12-01 15:01] ktomk commented on #218
To verify this assumption I create a local bare repository via:

    $ git clone --mirror  "git@github.com:ktomk/mr-shared"

and changed the remote to it:

    ../../bares/mr-shared.git

The error is still gone so this is another indication that git subrepo works with bare repositories as remotes.

[2016-12-03 11:13] jmatsushita commented on #142
@mrfelton I also observed the same problem with `--update`. I have also steered clear of `push --all` with this branch. I've been using it for about 6 months now and it would be good to hear what are @grimmySwe and @ingydotnet plans!

[2016-12-08 01:15] vchudnov-g opened #240 "when git-subrepo'ing a github fork, how to keep the fork in sync with its upstream?"
Suppose there's a github repo `knife` which I forked into a github repo `knife-fork`

In my own local repo, I set up a subrepo of `knife-fork`. I make a change `A` and I `git subrepo push` it to github's `knife-fork`. I create a pull request which is then accepted and merged into `knife`. However, at this point github's `knife-fork` still thinks it is not in the same state as `knife`. How can I us

[2016-12-28 18:03] AlJohri commented on #14
@ingydotnet would you consider adding `brew install git-subrepo` to the `README.md` under Installation Instructions?

[2016-12-29 12:48] Darthholi commented on #142
Hello guys!
Subrepo is really a cleverly designed tool, but by trial and error I found out, that it is no use when my repository is big and it takes forever to filterbranch through all the commits.
I suppose that this is one of the redesign questions asked.

So, my question is, what state is the project in, currently?

To note my motivation:
My aim was to compare git-subhistory and git-subrepo and

[2017-01-03 04:26] AlJohri commented on #71
@a1russell It seems the latest release on Homebrew is 0.3.0 which is from December 2015 (https://github.com/ingydotnet/git-subrepo/releases)

@ingydotnet would you mind making a new release on Github?

[2017-01-03 17:12] ingydotnet commented on #71
I'll make a 0.3.1 release later today and hopefully get the major new stuff released as 0.4.0 later this week.

[2017-01-04 07:17] ingydotnet commented on #71
0.3.1 tagged (released)

https://github.com/ingydotnet/git-subrepo/tree/0.3.1

[2017-01-04 08:24] johan-smits opened #241 "git subrepo pull --all fails the rebase --onto"
I use git flow for the releases. When I'm on the development branch (working branch) and I do the pull I get this error:
[code]

I have to do a force clone somehow.  What information do you need to do a check?

[2017-01-06 18:51] nandbert opened #242 "git subrepo push fails under certain circumstances"
[code]

Beside of the above test case I have no clue what the "certain circumstances" are. Other cases where I cloned a subrepo to a label worked fine.

P.S. Very nice tool btw, have been looking for something like this for a long time :)

[2017-01-09 15:49] trivigy commented on #242
Experiencing the same issue here as well. In my case I am cloning in a different project than @nandbert  but the issue is exactly the same. Help is much appreciated.

[2017-01-12 12:55] nandbert commented on #242
Hi @trivigy, try to use the branch issue/216 that fixed the issue for me. Issue #233 also seems to be related.

[2017-01-12 21:33] mykmelez opened #244 "git subrepo pull failure: Can't find a common ancestor"
After cloning a subrepo last week, I tried to pull its latest changes today, only to be told: "git-subrepo: Can't find a common ancestor between refs/subrepo/embedding/spidernode/fetch and subrepo/embedding/spidernode. This might be the case if someone used push --force on the subrepo. You need to find out why and possibly reclone the subrepo."

No one has used `push --force` on the subrepo, and t

[2017-01-15 16:11] Olgagr opened #245 "OS X ./share/enable-completion.sh: No such file or directory"
I cloned the git-subrepo, I added ```source "$HOME/Projects/git-subrepo/.rc"``` to my .bash_profile but when I restart the bash I get:

[code]
and of course:

```git subrepo``` commands are not recognizable.

OS version: 10.11.6

[2017-01-15 16:23] Olgagr commented on #245
Problem solved. subrepo command was after rvm loading and this causes problems. Basically, in my .bash_profile I had:

[code]

Reverting the order of these two lines resolved problem.

[2017-01-15 16:23] #245 closed

[2017-01-18 11:31] moritz commented on #225
Is anybody working on this? Unfortunately, this makes git-subrepo unusable for me right now, since I have no control over the repos I want to use as subrepos.

[2017-01-18 13:37] grimmySwe commented on #225
Hi, sorry for not responding sooner.

First, your command at the top doesn't work, you need to replace one of the slashes with a colon:
[code]

Can you test using the `issue/216-B` branch? I tested it locally and there I can perform the clone just fine.

[2017-01-18 13:38] grimmySwe commented on #216
@ingydotnet I saw that you released a 3.0.1 and said you had 0.4.0 in the pipe, anything you need help with?

[2017-01-18 13:41] grimmySwe commented on #244
Good job! Are you using the issue/216-B branch right now?

[2017-01-18 13:43] grimmySwe commented on #242
Hi @nandbert @trivigy
As you already found branch issue/216-B should solve this problem. @ingydotnet is working on creating a new release based on it.

Please let us know if you find other issues with 216!

[2017-01-18 13:47] grimmySwe commented on #241
@johan-smits what version are you using? Adding -vd to the subrepo command would increase the output.

You can try out branch `issue/216-B` of git-subrepo and see if it solves your problems. It's the base for our next 0.4.0 release.

[2017-01-18 13:55] grimmySwe commented on #240
git-subrepo doesn't handle the internals for working within a fork and it's origin. On the same level that you perform the pull-request from knife-fork you will need to perform the syncing of your fork there as well.

I don't really see how this could be possible, but please come with workflow suggestions if you have any!

[2017-01-18 20:19] mykmelez commented on #244
I switched back to master after completing the pull last week, but I haven't actually tried another pull since then. Presumably I'll need to switch back to issue/216-B when I do.

[2017-01-19 04:55] dkebler commented on #244
I am getting the same error message when I do this.
1. Make a copy (locally) of a subrepo directory I wish to turn into new subrepo
2.  Create a new empty remote repo
3.  edit .gitrepo and change the `remote=` to point to the new empty remote repo
4.  Make edits to new subrepo directory then commit and push them in main repo
5.  do a `git subrepo push newsubrepodir`
that's when the identical error

[2017-01-19 08:28] johan-smits commented on #241
Yes this works for me. When will the 0.4.0 release will be available?

[2017-01-19 08:43] grimmySwe commented on #244
There is a `-r <remote>` flag for push/pull that should be used instead of editing the .gitrepo file. Otherwise I find your suggested best practice ok.

[2017-01-19 08:57] grimmySwe commented on #241
I will have to forward that question to @ingydotnet who is currently working on getting it ready for release.

[2017-01-19 09:00] fingon commented on #216
Just as a data point, master failed pretty miserably in fairly basic (manual) rebased pull + subsequent push case. The issue/216 branch worked fine in the same case

[2017-01-19 09:03] grimmySwe commented on #216
@fingon thanks for the information!

[2017-01-19 09:33] fingon opened #246 "Upstream history (clone/pull) is condensed into a single commit. is not always what is wanted.."
If upstream repository is used mostly for syncing purposes, it would be nice to actually pull whole history to downstream repos as well. Perhaps an option to clone/pull? (--no-squash or something)

[2017-01-19 12:18] grimmySwe commented on #246
The reason for squashing the history is that you transform the subrepo into the ordinary repo. If you didn't squash you would have to somehow rebuild the entire subrepo history inside your ordinary repo and that can be very complex and time consuming. It's easy for single parent commits, but when you start to think of trees it will quickly become hard.

Closing it for now, if you can think of a de

[2017-01-19 16:48] dkebler commented on #244
yes I see that.  Looks like you must also add the `-u` flag so that it updates the "remote" line of the .gitrepo file.

[2017-01-19 19:43] fingon commented on #246
I am mostly interested in changing how the 'clone'/'pull' semantics work. Essentially replaying everything from last merged commit, commit by commit, and then noting down the new state in the commit + .gitsubrepo should be enough, no?

Push semantics would behave like they do now, just the pull ones would be rewritten so history would not be lost (but the data would not be pushed as it already exi

[2017-01-19 19:45] fingon commented on #246
I am not sure I see the problem, as the code already essentially _does_ that (but just squashes the result to single commit). I haven't dared to look at the gory implementation details much though, as bash scripts are scary :)

[2017-01-20 09:12] grimmySwe commented on #246
When git-subrepo pull things into the main repo it fetches all the subrepo commits in the subrepo scope, take the current state and then transform it into the main repo scope. So there is only one subrepo commit that is actually transformed.

If I understand correctly you want to include the entire subrepo tree of commits and then you will need to transform all commits there into main repo scope.

[2017-01-20 09:14] grimmySwe commented on #244
That is true, forgot about the -u flag.

[2017-01-20 11:18] fingon commented on #246
Yes. What I would like to have is essentially git subrepo CLI (= less need to stick magic in e.g. Makefiles to do particular git subtree pull/pushes) and git subtree-like functionality in the way that it preserves log history both ways (both on pull and push). git subtree has --squash option which results in subrepo-like current behavior, IIRC.

I will take a look at the bash code in my copious sp

[2017-01-20 12:19] Darthholi commented on #246
I would say - try "git subhistory" for not squashing commits, till this functionality gets its way into subrepo :)

[2017-01-20 21:22] grimmySwe commented on #246
I see your point and it's certainly a valid use case. It is though more
complex then what we have today. Especially in cases where you have local
changes and pull in new stuff.

fredag 20 januari 2017 skrev Markus Stenberg <notifications@github.com>:

[2017-01-21 11:12] moritz commented on #225
Hi @grimmySwe,

it works for me with the issue/216-B branch. Thank you very kindly.

Cheers,
Moritz

[2017-01-22 01:26] dkebler opened #247 "git subrepo push fails with unstaged/uncommited changes in other subrepos"
before I moan need to say, this project is great. So much potential

One thing about workflow is that subrepo is not allowing me to commit and push changes to files/folder in some subrepo if there are any unstaged, or working tree changes anywhere else in the repo.  This is forcing me to stage/commit things in progress only because I need to push a particular subrepo.

I need to get a particular s

[2017-01-23 08:20] grimmySwe commented on #247
@dkebler thanks for your praise!

When you perform git-subrepo operations it will use the current repo as playground, checking out the subrepo and performing operations. We don't want to lose things so that's why we require a clean tree before you perform the subrepo operations.

In #150 there has been some discussions on using a temporary directory for the subrepo operations. We haven't put a lot

[2017-01-23 08:32] moritz commented on #225
Uhm, has the branch been merged? It looks like #216 is still open...

[2017-01-23 09:02] grimmySwe commented on #225
True, I was a little quick on the trigger. Reopening. Will leave it open until. it hits master.

[2017-01-27 09:19] schiorean commented on #241
This happened to us too... When is the official release supposed to be out?

[2017-01-27 09:36] schiorean opened #248 "files & folders marked in .gitignore sometimes are deleted by gitsubrepo pull"
Hi,

At least a couple of times it happened that if I have ignored files in parent repository, if I do a gitrepo pull and there are conflicts, after fixing the conflicts most of my gitignored files are gone. I'm taking about gitignored files in parent repo.

[2017-01-30 07:03] ingydotnet commented on #215
Applied. Pushed. Thanks.

@grimmySwe, I'm planning to spend the week on getting subrepo into a solid
state. For now I'm just applying or commenting on the open PRs. Applying this
wasn't necessary but also does no harm and is good to have in case I am delayed
along the way.

[2017-01-30 07:03] #215 closed

[2017-01-30 07:51] ingydotnet commented on #236
Applied #237 which fixes this. Closed. Thanks!

[2017-01-30 07:51] #236 closed

[2017-01-31 08:34] grimmySwe commented on #248
The subrepo operations will replace the current repo while performing it's operations. So things will unfortunately happen there. There is an issue #150 that will move the actions into a temporary directory.

[2017-01-31 08:43] grimmySwe commented on #150
@stsquared99 I might look into this soon, what is your latest status on this?

[2017-01-31 14:20] grimmySwe opened #249 "Check the code with ShellCheck"
To prevent bad habits and increase the "goodness" of the code, use ShellCheck find fishy constructions in the code.

Consider adding it as a unit test as well?

[2017-01-31 17:21] stsquared99 commented on #150
@grimmySwe I haven't looked at it since, I'm afraid.
I have had success in a standalone script I've been using by referencing a non-checked-out branch/ref using filter-branch, which speeds things up significantly. There's only a few commands that actually need the branch checked out, I think.

[2017-02-01 05:42] grimmySwe commented on #150
This issue is a blocker for us (me and @jrosdahl) at work. We have a good size repo that contains a lot of built files occasionally. So it's a real killer if the entire tree is reset. So we actually have this on our todo-list...

I started looking at the GIT_DIR and GIT_WORK_TREE and it sure looks like that is one viable path. One thing though crossed our minds:
If there are no conflicts, it shoul

[2017-02-01 12:59] grimmySwe commented on #150
Additional benefit of having it in-place is that you can actually test and/or compile with the main repo before you finalize the stuff and put them into your branch. So the current plan would be:

- Make sure that git-subrepo doesn't perform unnecessary operations that needs to remove the original location.
- If there are conflicts that needs to be solved, prepare the repo and then clone it into t

[2017-02-01 15:23] ingydotnet commented on #150
Seems like a good idea. Anyone want to try to implement it? Then we can review something real.

I would probably suggest putting the work dir under `.git/`. I think there's a standard place for doing things like that, but I forget.

[2017-02-02 03:36] #203 closed

[2017-02-05 22:06] #147 closed

[2017-02-05 22:26] ingydotnet commented on #220
@callalilychen, imho a much better solution here is to do something like this:

[code]

That should work for all programs that honor `$PAGER`, without needing them to
`eval`, which is asking for trouble.

[2017-02-05 22:26] #220 closed

[2017-02-08 13:53] pallix commented on #198
I have the same issue and the failure caused triggers a deletion of the files inside the subrepo.

Anything new on this issue?

[2017-02-08 15:56] TinyTheBrontosaurus opened #253 "Add warning when combining arguments --branch and --all in subrepo pull"
I have three subrepos (I'm calling them zords) I am tracking from a main repo (calling megazord). All the zords have the same branch names (`master` and `foo`). In my scenario, I want to change the tracking branches all the zords on megazord to `foo`. I tried to following command

    git subrepo pull --branch=foo --all

which gave this output

    Subrepo 'the_zords/zord1' pulled from '../zord1'

[2017-02-16 18:28] animetrics opened #254 "Proper protocol for making changes to a subrepo"
One thing I feel is missing from the docs (could be wrong) is proper protocol for making changes to a subrepo from within parent repo and pushing (or not pushing) those changes.   It seems that one would do

    1. git add ext/a_sub_repo/file.cpp
    2. git commit -m "made a mod to file.cpp in a_sub_repo"
    3. git push
    4. git subrepo push ext/a_sub_repo

Is this correct?  Opting out of step

[2017-02-16 18:40] animetrics commented on #152
I've been using subrepo with lfs and there is a potential issue.  E.g. my parent repo is set via .gitattributes to put all .png files in lfs.  I have a subrepo that has .png files checked into git (not via lfs).  When I do a git status it shows the .png files from the subrepo as "modified" presumably b/c it wants to check them in under git lfs.  I had to exclude the subrepo directory so it won't t

[2017-02-17 08:27] grimmySwe commented on #254
Step 3. is optional in some sense, when you have commits in your repo (pushed or not) then you can transform the changes and push them to the subrepo.

There is no quick way to determine this because you need to perform the transformation process first. We have considered adding a --dry-run to the push so that you can #142, #202:
``` 4. git subrepo push --dry-run ext/a_sub_repo ```
and get some ki

[2017-02-17 21:04] animetrics commented on #254
Thanks @grimmySwe

What is meant by "transform" exactly?  Is that just `git subrepo push ext/a_sub_repo`? So if were to swap steps 3 and 4, nothing would happen when I run step 4 (assuming all my commits were suprepo commits)?

[2017-02-17 23:11] grimmySwe commented on #254
Transforming them into the subrepo space so that your changes can be pushed
to the subrepo.

Pushing to the subrepo has no impact on your regular repo. There you work
as you normally do. Switching 3 and 4 makes no difference but might even be
a good thing because you will get possible subrepo conflicts first and can
include the solution in your push to the normal repo. Otherwise you might
need to

[2017-02-21 18:55] Aaron-Hartwig opened #255 "GIT_SUBREPO_ROOT being duplicated when running tests"
prove test/
test/branch-all.t ........... C:/Users/212598195/Documents/git-subrepo/.rc: line 21: cd: C:/Users/<user>/Documents/git-subrepo/C:/Users/<user>/Documents/git-subrepo: No such file or directory
test/setup: line 17: bash+: No such file or directory
test/branch-all.t ........... Dubious, test returned 1 (wstat 256, 0x100)

The contents of my `.bashrc` is the single line:
`source ~/Document

[2017-02-23 20:45] cehoffman commented on #244
Adding that I was trying a very simple test of subrepo with 0.3.1. I wanted to start with a specific commit version of a subproject and then later upgrade to the current tip of master.

[code]

With 0.3.1 this failed with `Can't find a common ancestor`.  The commit I initially checked out was in the history path for master of the remote. I found this issue, installed the issue/216-B branch and tri

[2017-02-26 23:42] LeandroMBarreto opened #256 "Subrepo won't use separate push URL from repo config"
Hi, guys. Nice work here!

Short story is: subrepo defines remote URLs on main repo (container), which then are stored in main repo .git/config file. Well, I found out it is possible to configure a separate push url for each remote as well:

However, it seems subrepo won't use them, picking up the single URL from .gitrepo file instead.

If you want to know how I found out about this:
I've been try

[2017-02-27 00:20] LeandroMBarreto commented on #256
Now I tried to push using -r <remote> like this:

`git subrepo push sub/test -r subrepo/sub/test -d`

It failed on fetch with message "'subrepo/sub/test' does not appear to be a git repository".
And to my surprise, the command replaced the https URL from the remote in config with the text "subrepo/sub/test".

Then I tried same command, but now replacing -r with --remote= like this:

`git subrepo p

[2017-02-27 02:18] LeandroMBarreto commented on #256
One more related issue worth mentioning. So, 3 small issues in total.

To summarize:

1) git-subrepo won't use separate push URL from main repo .git/config (container repo);

2) git-subrepo overwrites fetch URL from a remote with its own label text when passing that label to "--remote=" or "-r" args in a git subrepo push command. Push succeeds using "--remote=", but fails when using "-r";

3) git-

[2017-03-05 13:39] Djabx opened #257 "`git fetch --all` scrumble repositories"
I've got a repositories with many remotes, but if I do:

    git fetch --all

To synchronize all my remotes, it also fetch my subrepo tags, witch is really not why I want.
How may I handle this properly (appart from using `git fetch --all`) ?

[2017-03-06 12:13] varac opened #258 "Pushing tags"
Hi,

I'm not sure if this is a feature req. or a documentation issue. But one thing that fell on my toes recently was that I needed to change my workflow of pushing tags.
Before, I used a superproject with submodules, and only had tags that belonged to my superproject. So I used `git push --tags` to synchronize my local tags with the remote.

I realized with subrepos, tags from all subrepos will p

[2017-03-07 18:37] rhd opened #259 "merge conflicts with unmodified subrepo"
Hi,

I have a subrepo of `meson build` currently branched to `0.38.1` - I have made no changes to this repo.

[code]

When I try to update it to update it to `0.39.0`, I get merge conflicts. If I upgrade it to current master (no spedified branch), it works fine.

Thoughts?

[code]

vs just pulling master

[code]

[2017-03-07 18:41] rhd commented on #259
Ok, I guess switching back to the master branch is broken too.

[code]

[2017-03-07 22:12] rhd commented on #259
This is a dupe of #241, I think. I'm closing it as the referenced branch also fixes this issue.

[2017-03-07 22:12] #259 closed

[2017-03-08 12:20] dbolser opened #260 "Can I configure multiple subrepos in a config file?"
Or would this effectively be a bash script?

(Sorry, noob).

[2017-03-09 17:16] NicolasRouquette commented on #188
I'd love this too, particularly if there was an easy way to tag a specific subrepo.

[2017-03-09 17:20] NicolasRouquette commented on #233
Same here with 0.3.1; switching to issue/216-B allows me to push subrepos.

[2017-03-09 18:08] SamNPowers opened #261 "git subrepo describe?"
Is there a way to get current subrepo tags?

The use case is that my team and another team are working with the same repository. For them, it is their primary repository, and they periodically tag it with version information. My team uses that repository as a subrepo in a bigger code base, but it would be convenient for us to be able to easily get the current subrepo version we're on. Is there som

[2017-03-10 12:07] grimmySwe commented on #255
I haven't seen this before, it seems that your `.bashrc` might be executed twice when the shell starts. Could you add something more into `.bashrc` to verify that it only runs once? Something like "echo 1234 >> /c/tmp/test.txt"

[2017-03-10 12:13] grimmySwe commented on #260
Could you please give a little more information on this question and maybe an example?

You can add as many subrepos as you want in a "main" repo. Each subrepo will have it's own configuration stored in .gitrepo file.

[2017-03-10 12:17] perlpunk commented on #255
Seems like the test for an absolute path in line 19-20 is wrong for windows (path starts with `C:/`):
[code]

[2017-03-10 16:04] dbolser commented on #260
I'm looking for a simpler replacement for this:
https://github.com/Ensembl/ensembl-git-tools

which pulls in a bunch of repos (each set with a specific tag), and sets them all to a common branch.

[2017-03-13 22:45] thelonewolf commented on #244
I am having a similar problem but switching to 216-B doesn't help me.

I cloned a remote repo:

This works files are pulled in and everything looks good.

Then I wanted to run some tests to make sure the two primary features I will be using are working, **push** and **pull**. So I made a change to a subrepo file, and since I'm the only one working on this particular project no changes have been ma

[2017-03-14 08:20] grimmySwe commented on #244
@thelonewolf unittests included in git-subrepo should test this basic scenario so I can't really see anything without some more actual logs. can you add `-vd` flags to your commands? That will output some more information on what is actually going on.

Does it work if you work locally by creating a small test repo and then work against that?

[2017-03-14 16:51] thelonewolf commented on #244
@grimmySwe I'll try to run those tests later today or tomorrow and reply with the results.

[2017-03-15 12:55] cdlm commented on #183
:+1:

[2017-03-16 15:44] karimElJed commented on #163
I just tried git-subrepo for the first time. Great work, thanks for sharing!!!
Any update/plans on this status feature? Knowing if one is ahead or behind the remote branch would be very useful.

[2017-03-21 18:34] boringuy commented on #177
I have a similar issue. I did pull with -b and -u but it still doesn't change the Tracking Branch when I do "git subrepo status". Do I have to force clone it everything I update to a newer release branch?

[2017-03-28 15:33] RedX2501 opened #262 "Bound subrepo submodules cannot be initialized"
We have a repository with the following structure

    RepoX
    + folder A
    + folder B (submodule)
    + .gitmodule

Now we have another repo in which we need to use RepoX as a subrepo resulting in:

    RepoY
    + RepoX (subrepo)
      + folder A
      + folder B (submodule)
      +.gitmodule

Now trying to run `git submodule update --init --recursive` in RepoY results in in the error messag

[2017-03-29 08:15] grimmySwe commented on #262
Git subrepo tries to be transparent so that in a standard case you might not need to know about it. So I don't really see how git subrepo would change the situation here?

I suspect that .gitmodule needs to be at the top level of a repo to work or? Can you run `git submodule update` in the RepoX dir? If so I think that is the only way to approach this.

[2017-03-29 11:00] RedX2501 commented on #262
You can try it yourself:

[code]

[2017-04-10 13:33] Wagner59 opened #263 "git subrepo pull always creates commit"
I have simple setup as shown in tutorial and when I do 'git subrepo pull <subrepo_name>' it always says 'Subrepo ... pulled from ...' and creates new commit even though no new commit in the subrepo was created.
In your code I have found
`if [[ $upstream_head_commit == $subrepo_commit ]] &&
     [[ -z $subrepo_branch ]]; then
    OK=false; CODE=-1; return
  fi`
so not sure when the second part of t

[2017-04-10 13:55] grimmySwe commented on #263
Yes, it's a bug. Its solved in https://github.com/ingydotnet/git-subrepo/commit/e37942ccf36dd3101fc78094881701be9f374a33

What version are you using?

[2017-04-10 14:13] Wagner59 commented on #263
I am on master with revision a7ee886e0260e847dea6240eaa6278fb2f23be8a. Seems like the most recent one

[2017-04-12 16:25] dkebler commented on #247
Any more progress this direction?   Despite it's drawback submodule doesn't have this issue.  What is it about submodules and they way they are managed that doesn't create this issue.  For a few other new projects I've resorted sadly back to submodules on this issue alone.

[2017-04-23 15:04] Hazzamanic opened #265 "Is there a way to speed up subrepo push?"
I have a project with 10K+ commits. I have been using subtrees and submodules for a few components but both were causing a lot of headaches. I'm just investigating subrepo now. It's looking really good! One thing is that a subrepo push, a simple one file change, can take over four minutes. Is there some way I can speed this up? Is this normal?

I used subrepo checkout to set it all up, not init.

[2017-04-24 07:58] Chren opened #266 "Can't find a common ancestor between refs"
Hi, when run git subrepo pull , an error occurs:

`Can't find a common ancestor between refs/subrepo/lollypop-client-ios/git-subrepo/common/control/lollypop-client-ios-business-social/fetch and subrepo/lollypop-client-ios/git-subrepo/common/control/lollypop-client-ios-business-social. This might be the case if someone used push --force on the subrepo. You need to find out why and possibly reclone

[2017-04-24 08:28] Chren commented on #266
Never mind, switch to tag 216-1 just fix my issue,  so I guess it is a bug in 0.3.1?

[2017-04-24 09:25] grimmySwe commented on #266
@Chren yes, there are some known issues with 0.3.1.

[2017-04-24 09:27] grimmySwe commented on #265
Test out the branch issues/216-B and see if that speeds things up.

[2017-04-25 23:57] keithn opened #267 "Windows Specific - When pulling, if the casing doesn't match the folder name it cryptically fails"
The problem seems to be some things work, some thing don't when casing doesn't match.  Would be better if the command fails if the casing of the folders don't match, with a folder doesn't exist...   or the command corrects the casing automatically

git subrepo pull Lib/blah
git subrepo pull Lib/Blah

[2017-04-26 11:59] grimmySwe commented on #150
@ingydotnet Hi Ingy, I am about at trying out this now.
What is the status of merging issue/216 to master? by the activity I am guessing that more important things from real life has shown up.

[2017-04-26 18:31] ingydotnet commented on #150
I'll try to look over subrepo stuff tonight.

[2017-05-01 03:39] svelez opened #269 "Why aren't tree hashes in multiple commits considered for common ancestor?"
I've noticed that if I push my subrepo to a branch, and then merge that branch in to master (using a pull request), with no changes necessary to the tree, then my next pull of the subrepo does not recognize the pushed commit as a common ancestor (and I have to re-resolve some earlier merge conflicts).

I think that this is because in `subrepo:merge-base`, this happens:
[code]
And the multi-match t

[2017-05-01 13:20] nmaludy commented on #266
I'm having this same issue, but when i try using `tags/216-1` i get the following error:

[code]

[2017-05-03 11:44] grimmySwe commented on #269
The solution in 0.3.0 was an experiment with a new tree hash based implementation. It has been found to have several draw backs so we are working on replacing this with a much more robust variant.

Test out branch "issue/216" and see if that solves your problem.

[2017-05-03 22:03] svelez commented on #269
Yes, that does work better. Thanks 👍.  It seems you have been giving that answer a lot lately.
Forgive me for not looking in to the code right now, but what is the fundamental difference with this version now that the tree hash compare is not used?  Are the values in .gitsubrepo now driving this?

[2017-05-08 11:46] grimmySwe commented on #150
@ingydotnet Do you have an opinion on using `git worktree`, available from git 2.5.

I have been looking into this and I find that the GIT_DIR and the GIT_WORK_TREE might be a little dangerous if things go bad. Because you can end up having a status that differ between the GIT_DIR and the working copy. The main idea being not checking out a complete repository again.

`git worktree` seems to solve

[2017-05-08 12:41] lilydjwg commented on #150
I like the idea. Today I had a hard time to merge conflicts of my .vim config because my lovely editor became unconfigured during the time.

`git worktree` is great, but what if I've already checked out the branch elsewhere? (Maybe I shouldn't do this?)

[2017-05-08 12:45] grimmySwe commented on #150
@lilydjwg

Do you mean as a worktree or in another way?

The work tree parts will only create internal work branches like subrepo/my-subrepo so it should be low risk that you already have that checked out. And perform some sort of check that it's not used.

[2017-05-08 13:23] lilydjwg commented on #150
I checked out my subrepo as a worktree, so I can work there like a standalone repo, viewing logs and diffs, preparing pull requests etc (and I don't need to clone again. I'm in China, and GitHub is slow.)

I guess performing a check in advance is the best we can do. I guess conflicts would happen anyway if I didn't mess up things and kept the worktree.

[2017-05-09 11:45] grimmySwe commented on #150
@ingydotnet I have done some initial tests here and found the `git worktree` approach very nice. It almost feels like an improvement from the original in that if you end up with a conflict in the merge/rebase steps you can see this in a separate worktree instead of ending up in a mysterious state in your regular working copy.

I have the following ideas:

* branch - Creates a new worktree with _su

[2017-05-11 12:34] grimmySwe commented on #150
So I took a shot at this and created a prototype that actually works well so far. In my personal opinion it even improves the flow. Having a separate worktree with possible merge conflicts is much easier then ending up in your local copy with the subrepo checked out.

I will test it out some more but if there is anyone else that is interested you can find it in branch issue/150, note though that i

[2017-05-11 13:53] grimmySwe opened #270 "subrepo push <branch> parameter"
@ingydotnet Currently subrepo push accepts a branch argument to specify a subrepo branch to push to the remote. How often is this used? As there are also support for the [ -b branch ] to specify remote branch it might ba a little confusing.

If you want to create something special to push to the remote, wouldn't it be better to create a regular branch in your main repo, create the state you want a

[2017-05-12 08:07] grimmySwe commented on #216
@ingydotnet I am looking into the strategy options a little. From the original post you suggested two methods of persisting this.

1. .git/config
1. subdir/.gitrepo

The more I think about it I tend to prefer the second method, why?
Because then the information will be persistent in the repo, allowing everyone that uses the main repo to use the same setting.

Suggested changes:
* Add **--strategy*

[2017-05-12 08:23] fingon commented on #216
I think the former strategy is downright dangerous (e.g. if .git/config strategy is different, you wind up a repository which looks like a Frankenstein's monster if multiple people deal with git subrepo), so I would say subdir/.gitrepo is the sensible choice.

[2017-05-12 09:02] grimmySwe commented on #269
@svelez Yes we are back to the original idea with having values stored in .gitrepo file. I had some illusion that tree hashes would work and it did but only in very limited scenarios.

[2017-05-12 09:07] grimmySwe commented on #266
@nmaludy Are you sure about the version you are running tags/216-1, the output looks like the old one for 0.3.1 functionality. Could you please double check?

[2017-05-12 09:08] grimmySwe commented on #265
@Hazzamanic Did you try the issue/216-B branch?

[2017-05-12 09:10] grimmySwe commented on #263
@Wagner59 We are working on it, unfortunately life puts other task in the way sometimes.

You can test and use branch issue/216 were this fix is included.

[2017-05-12 11:51] grimmySwe commented on #262
I have no experience working with submodules so someone with more knowledge @ingydotnet might have to correct me here.

If you work with recursive submodules you will get a recursive structure in the git dir: `.git/modules/sub_module_A/modules/sub_module_B/modules/sub_modules_C`. For this case the recursiveness will find the correct repo and perform the correct operation within that repo. The repo

[2017-05-12 13:21] grimmySwe commented on #261
@SamNPowers I fully understand your use case, but `git describe` works on a repo and when you have subrepos their refs are not available.

To actually achieve this you would have to clone the subrepo as a regular repo and then perform describe in that repo. The best we could do is to show you the current hash, but you would still need the repo to get something useful out of it.

What you could do

[2017-05-12 13:25] grimmySwe commented on #260
If I understand correctly you would simply create a main repo and then for each repo in the "bunch of repos" you create a subrepo in the main repo. Then you can handle them efficiently and there are tools to change branch and update all of the repos with _-all_.

Was that an answer to your question?

[2017-05-12 13:34] grimmySwe commented on #258
Having read your question a little bit more carefully I don't think there should be any problem. Tags from subrepos should stay in their repos. I say should because that was my view of how it worked.

Reality seems a little different though:
@ingydotnet I noticed that in subrepo:fetch we use `git fetch`without the `--no-tags`, should we add that to prevent subrepo tags to pollute the main repo?

[2017-05-12 13:54] grimmySwe commented on #257
Yes, this is not really what you want.
You can run `git subrepo clean --all`first to remove the remotes.

I will look into if we really need to create this remote in the first case.
Somewhat connected to #258

[2017-05-12 14:00] grimmySwe commented on #257
Hi again @ingydotnet, a lot of activity today :-)

I tested a little with removing the `git remote add` inside git-subrepo and it seemed to work ok. Are there something that I don't understand here that they are used for?

[2017-05-12 14:28] varac commented on #258
Yes please !

[2017-05-14 08:53] ingydotnet commented on #216
I think we called this `--method` and would us the `method` key in `<subdir>/.gitrepo`. (All keys are 6 chars).

I agree it should go into  `<subdir>/.gitrepo`.

[2017-05-14 08:56] ingydotnet commented on #257
I think having the remote is important to do things by hand. We could add a git config option (per repo or global) to not make the remotes.

[2017-05-14 09:00] ingydotnet commented on #258
Not sure I got everything here, but subrepo tags should not get into the supe, certainly. Make it so.

[2017-05-14 14:15] grimmySwe commented on #216
@ingydotnet You are right, totally forgot that. I'll try it out then.

[2017-05-14 18:51] grimmySwe commented on #257
I understand that it's good to have when you work "manually", but is that really the preferred way?

Don't you think that is more of an advanced use and people can then do 'git remote add' by themselves and understand the consequences. So that when you do 'git fetch --all' you never get something unexpected.

[2017-05-15 06:36] grimmySwe commented on #257
@ingydotnet Or we add a utility command `git subrepo remote` that helps you add/remove a remote.

But as said, my vote is on not creating the remotes by default as they are not needed for the regular workflow if everything just works (tm).

[2017-05-15 06:39] grimmySwe commented on #256
Somewhat related to #257 in regards to having remotes.

[2017-05-15 06:43] #254 closed

[2017-05-15 06:53] grimmySwe commented on #247
@dkebler We now have an implementation of #150 in tests, I haven't looked into this particular angle yet but I am going to.

[2017-05-15 06:58] #240 closed

[2017-05-15 10:59] grimmySwe commented on #239
@callalilychen Sorry for the late answer.

`git subrepo clean` will remove all internal branches and remotes used for subrepo. It will though not clear out the commit information that is stored in the main repo when you perform subrepo operations.

Please let me know if this was not the answer you was looking for!

[2017-05-15 10:59] #239 closed

[2017-05-15 11:03] grimmySwe commented on #235
@rfabbri Please reopen and add more information if you still experience this problem.

[2017-05-15 11:03] #235 closed

[2017-05-15 11:12] grimmySwe commented on #233
@NicolasRouquette Do you still experience this problem?
I tested a little with creating subrepos from you suggestions but could not reproduce.
Could you please try and make a small instruction on what you do to reproduce?

[2017-05-15 11:16] grimmySwe commented on #232
Should be solved with #231, @MunifTanjim please let us know otherwise!

[2017-05-15 11:16] #232 closed

[2017-05-15 11:19] grimmySwe commented on #224
Solved by #224, closing

[2017-05-15 11:19] #224 closed

[2017-05-15 11:23] grimmySwe commented on #223
@jmatsushita I don't see that this will be implemented in a reasonable future so I close it.

[2017-05-15 11:23] #223 closed

[2017-05-15 11:25] grimmySwe commented on #222
Closing issue, @jamiechong please reopen with more information if you still experience the problem.

[2017-05-15 11:25] #222 closed

[2017-05-15 11:30] grimmySwe commented on #218
@ktomk Closing this issue, please reopen and add more information to work with for further investigation.

[2017-05-15 11:30] #218 closed

[2017-05-15 11:32] grimmySwe commented on #211
This issue is solved and available on master.

[2017-05-15 11:32] #211 closed

[2017-05-15 11:36] grimmySwe commented on #208
@ryanhelms closing this, please reopen and add some more information if you need help.

[2017-05-15 11:36] #208 closed

[2017-05-15 11:41] grimmySwe commented on #205
@phest Could you please test issue/216 branch and see if that solves your problem?

[2017-05-15 11:44] grimmySwe commented on #201
@mcblum please reopen and add some more information.

[2017-05-15 11:44] #201 closed

[2017-05-15 11:46] grimmySwe commented on #200
@adeluccar Please reopen and add more information.

[2017-05-15 11:46] #200 closed

[2017-05-15 11:48] grimmySwe commented on #198
@jmatsushita Can you reproduce this and add instruction here?

[2017-05-15 11:49] grimmySwe commented on #196
@kristiandelay please reopen and add more information.

[2017-05-15 11:49] #196 closed

[2017-05-15 11:51] #191 closed

[2017-05-15 11:53] grimmySwe commented on #187
@therealmarv Any progress on this?

[2017-05-15 11:55] grimmySwe commented on #186
@torinaki @rbellamy There is a issue/216 branch that works a lot better now if you are interested to try it out.

[2017-05-15 11:56] #184 closed

[2017-05-15 11:59] grimmySwe commented on #178
This is addressed in #150, where we use a temporary worktree instead of replacing current.

[2017-05-15 12:01] grimmySwe commented on #177
@boringuy If you want to update to another branch ignoring your own changes you can use `git subrepo clone --force`.

[2017-05-15 12:02] #176 closed

[2017-05-15 12:03] #169 closed

[2017-05-15 12:04] #167 closed

[2017-05-15 12:07] grimmySwe commented on #157
@ingydotnet What is the status of this?

[2017-05-15 12:08] grimmySwe commented on #154
@robe070 closing this as there are no more information to work with. Please reopen if you have something new.

[2017-05-15 12:08] #154 closed

[2017-05-15 12:15] grimmySwe commented on #31
This is actually improved with #150, if things hit the fan you will only have another worktree, the main repo is still intact. There are still branches created but a simple `git subrepo clean` removes that.

[2017-05-15 12:17] grimmySwe commented on #62
This might be improved with #150 where we don't reuse directories.

[2017-05-15 13:19] ktomk commented on #218
@grimmySwe: I think all is fine, it's just that I was unaware in the beginning that the remote repository must be a bare repository.

[2017-05-15 15:18] therealmarv commented on #187
Hi @grimmySwe sorry, no. I also do not do a lot with git submodules nowadays. Basically I cannot find time to work on side (open source) projects nowadays (the fulltime opensource projects I work for need all my time). I really like concept on git-subrepo but in the near future I don't need it. I hope somebody else with more fish shell intelligence than me can pick up on this. The step I mentioned

[2017-05-16 06:31] grimmySwe commented on #187
@therealmarv I fully understand your situation. You know where to find us if you find large holes in your schedule :-)

[2017-05-17 13:03] grimmySwe commented on #270
branch parameter is needed for specific pushes (mostly rebase cases). Renamed it internally though.

[2017-05-17 13:03] #270 closed

[2017-05-19 19:58] adeluccar commented on #200
I don't even understand what I was asking at the time. :smile:

[2017-05-26 01:45] Hazzamanic commented on #265
Sorry I was away for a while. I will check that branch out this evening. Thanks for the swift reply (and follow up) and apologies again for my lack of!

________________________________
From: Magnus Karlsson <notifications@github.com>
Sent: Friday, May 12, 2017 7:08:57 PM
To: ingydotnet/git-subrepo
Cc: Hazzamanic; Mention
Subject: Re: [ingydotnet/git-subrepo] Is there a way to speed up subrepo pus

[2017-05-26 09:03] Hazzamanic commented on #265
Massive improvement, took a little under a minute, which is a hell of a lot more workable. Thanks!

[2017-05-26 17:18] ingydotnet commented on #216
@grimmySwe I have seen you try to contact me on IRC many times last week. Send
me an email to ingy@ingy.net suggesting an exact meeting time for next week
Tues-Fri.

Cheers!

[2017-05-29 06:46] carlokok opened #271 "Install on windows instructions"
On Windows one does generally use git bash but just git as a global command in path. I see there's a method to install subrepo as a sub command of git via Makefile but Make is generally not installed on Windows. A set of instructions on how to install it manually on Windows would be really useful.

[2017-05-30 20:16] oxxfreddyxxo opened #272 ".."

[2017-05-31 10:42] #272 closed

[2017-06-06 15:28] meena-venkat opened #273 "Edit build.gradle file to support subrepo"
What to specify in your parents project's build.gradle file to compile and build the subrepository code?

[2017-06-07 06:27] grimmySwe commented on #273
@meena-venkat How do you build subdirectories in gradle? I don't see any difference here. If the subrepository can be built separately you trigger it, otherwise you will need to perform the build in the master project.

[2017-06-12 13:00] TrevorMills opened #274 "Checking for Changes that would Push"
Hi there,

Apologies if this is answered elsewhere here.  I looked, but I didn't see anything that answered my question.

I would like to know if there is a way to check if there are commits/changes that would be pushed by a `git subrepo push path/to/subrepo` command.

Something like a dry run - I don't want to actually push anything to the child repo and I don't want to add any subrepo commits to

[2017-06-13 07:11] grimmySwe commented on #274
Nothing right now, there is a `--dry-run`in the pipe as part of the #142

[2017-06-15 14:40] aydun commented on #274
I've been puzzling around this as well.  The steps I have are:
[code]
Or in English:

- fetch the latest copy from the remote repo
- create a local branch for the subrepo
- compare what we've just fetched with what we have locally

It gives sensible results in my small tests but would be great to have the logic verified by someone more experienced with this!

[2017-06-16 07:10] grimmySwe commented on #274
@aydun It look correct, branch command will apply your local changes to whats in the remote.

[2017-06-16 19:32] aydun opened #275 "Question: Is there a way to mark subdirectories as not part of the subrepo?"
I'm working with a structure like this:
[code]
It's a third-party structure so I can't change the layout.  I want `mainrepo/subrepo/dir4` to be treated as part of `mainrepo`, not `subrepo`.  Is that possible?

[2017-06-16 19:53] grimmySwe commented on #275
@aydun I don't think that is possible. Is there a reason that you need it located at that level?

[2017-06-16 22:02] aydun commented on #275
@grimmySwe yes ... the repo holds deployed code for a drupal website.  In the previous tree, `subrepo` is the root of a complex module where most of the code is in one repo that I fork, but some directories (`subrepo/dir4`) are not part of that repo so should not be part of the branch created by a `git subrepo branch`.

I think I can work around that by making `subrepo/dir4` a subrepo itself.

How

[2017-06-21 22:52] gknops commented on #150
Rewriting files in the work directory is a deal breaker for me as I have processes (automatic header generation) monitoring file changes. Those go off while sub-repo is doing it's thing, causing all kinds of trouble. Pitty. Could this be revisited soon please?

[2017-06-22 08:11] Henry-E opened #276 "How to force pull to overwrite merge conflicts?"
The recommended approach to this on [stackoverflow](https://stackoverflow.com/a/8888015/4507677) is

`

I can `git subrepo fetch --all` but I don't really know how to do git subrepo reset? There's too many merge conflicts to edit by hand even though the conflicts don't appear to caused by my own changes to the repo.

[2017-06-22 08:14] grimmySwe commented on #276
If you by force pull means that you want the exact state of the remote subrepo, you can always do a reclone. `git subrepo clone -f <subdir>`, that would overwrite the <subdir> with current state of the subrepo.

[2017-06-22 08:19] Henry-E commented on #276
No I'd like to be lazy and overwrite all the merge conflicts automatically. I have my own changes inside the repo which I'd like to keep. Up until now they've not caused any merge conflicts. These merge conflicts appear to be caused by the repo maintainer's own changes.

[2017-06-22 08:29] grimmySwe commented on #276
What version of git-subrepo are you using?

If you run issue/216 based the regular merge should be able to cope with this and when you get conflicts you can do a
[code]
And after that you should be able to
[code]

[2017-06-22 08:50] Henry-E commented on #276
I'm using version 0.3.1. Unfortunately that particular set of commands didn't seem to work. After running
[code]
 It seems to remove all the unmerged paths and bunch of other things go missing.

[2017-06-22 09:23] grimmySwe commented on #276
0.3.1 uses rebase by default and that is a little different.
When you get the conflict you can do this:
[code]

Rebase uses ours/theirs the opposite way. And you will have to do this for each rebase "conflict".

Would that work?

[2017-06-22 09:36] Henry-E commented on #276
Yep that worked perfectly. I'll have to look into what `ours` and `theirs` are doing. Git is an unwieldy master I have yet to get my head around. Thanks very much for your help.

[2017-06-22 09:36] #276 closed

[2017-06-22 22:46] ingydotnet opened #277 "Make new branch `release/0.4.0` based on c12d56707f14c9afaf827bdf68935b9d3dc97a35"
This will be the new branch that we prep for the 0.4.0 release and will become master at that time.

[2017-06-26 12:14] ephemerr opened #278 "How to merge two branches with subrepos?"
I am trying to migrate from submodules, and I am new to subrepo.
I have created by cloning two branches on subrepos, corresponding to two branches on submodules.
Now I am trying to merge and have conflict in .gitrepo files, how should I resolve it?

[2017-06-26 12:20] grimmySwe commented on #278
Your options:
1. It might be easier to actually merge the subrepo on it's own, then clone in the result into your main repo.
2. If you merge on main repo level I will recommend that you select one of the sides theirs/ours otherwise you will have a strange state in the subrepo and that might cause confusion up ahead.

Did that make any sense?

If not you probably need to give me a little more examp

[2017-06-26 12:29] ephemerr commented on #278
Thank you for an answer!

I am trying to merge two branches of project (like devel and master) each having subrepo in diferent state.
As I could understand your answer I should prepare subrepos before doing git merge <branch>?

[2017-06-26 12:43] grimmySwe commented on #278
Well, you can do as normal, but for the actual .gitrepo file it would probably be best if you use one of the, not mixing the content. You will though not get any merge commit in the subrepo that way.

[2017-06-26 12:55] ephemerr commented on #278
Does `git subrepo commit` for subrepos afterwards fix situation?

[2017-06-26 13:01] grimmySwe commented on #278
What do you mean by fix?

`git subrepo commit` is used after you solved conflicts in the `git subrepo pull`.

[2017-06-28 05:04] ingydotnet opened #279 "Reconcile/merge tasks from `issue/216-G`"

[2017-06-28 05:12] ingydotnet commented on #279
I found this command to be helpful:
[code]

It show these commit exist in `origin/issue/216-G` but not in
`origin/release/0.4.0`:
[code]

@grimmySwe, please go over these commits and add in the code that we want to be
in version 0.4.0.

You can push commits directly to `release/0.4.0` and I'll review them.

[2017-06-28 05:16] ingydotnet opened #280 "Full source review of `issue/216-B`"
Ingy will review all of the code in the `issue/216-B` branch and make issues (possibly) for 0.4.0 and beyond.

[2017-06-28 07:31] grimmySwe commented on #279
@ingydotnet  I rebased in the relevant changes, so now release/0.4.0 will contain everything from issue/216-G. No merge commits :-)

I saw no reason to remove anything here. the `git subrepo config` command is questionable when we later add Merge/Rebase flag to pull but I find that it might be useful to allow users to set the method without running pull and --update. And it should not disturb anyt

[2017-06-28 07:36] #277 closed

[2017-06-28 07:38] grimmySwe commented on #275
@aydun We are working on releasing version 0.4.0, so for versioning I would recommend that you use issue/216-G, that should contain almost everything that is prepared for the upcoming release.

[2017-06-28 18:27] ingydotnet commented on #279
@grimmySwe sounds really good. I'll make another couple issues for you.

[2017-06-28 18:37] ingydotnet commented on #279
Reviewed it. Looks good to me!

[2017-06-28 18:37] #279 closed

[2017-06-28 18:39] ingydotnet opened #281 "Reconcile/merge relevant commits from `issue/216`."
Same process as #279.

[2017-06-28 18:43] ingydotnet opened #282 "Reconcile/merge relevant commits from `master`"
Same process as #279.

@grimmySwe, you should probably do #281 first, but up to you.

[2017-06-28 19:14] ingydotnet opened #283 "Travis is failing for `release/0.4.0` branch"
@grimmySwe could you look into this first?

Just a couple of errors. Travis runs on Linux. Tests all pass for me on OS X.

I added a travis badge note to the project page so we can track this.

Also be sure to `git pull` since I had to change the `.travis.yml` file.

[2017-06-28 22:08] ingydotnet commented on #283
I figured this out. Travis testing is now green!

[2017-06-28 22:08] #283 closed

[2017-06-29 06:23] grimmySwe commented on #281
Found nothing new from this branch.

[2017-06-29 06:56] grimmySwe commented on #282
@ingydotnet I have created a new branch release/0.4.0_rebased_to_master from release/0.4.0 and rebased it with master. I think it worked out ok. There was some minor encoding issues that I had to solve but now everything should pass all the tests.

I didn't want to move the release/0.4.0 to it without your blessing :-)

[2017-06-29 06:58] grimmySwe commented on #150
@ingydotnet I think that this would be best to include in 0.4.0 as it will set the git requirement and we probably don't want to do that in a minor release.

[2017-06-29 10:13] ErikBjare commented on #187
I started working on this: https://github.com/ingydotnet/git-subrepo/issues/284

Very minor stuff, but it works.

[2017-06-29 13:57] grimmySwe commented on #150
Did some rebasing so if everything works out with the master I should be able to fit this as well.

[2017-06-30 04:52] ephemerr commented on #278
I mean, after merge there would be .gitrepo with some commit information does not corresponding to actual files in working tree. And commit should fix it.

Thank you for your answers, I think I should get more practice with subrepos, for better understanding it.

[2017-06-30 22:23] ingydotnet commented on #282
I'll review soon and get back to you with next steps.

[2017-07-03 07:31] grimmySwe commented on #282
@ingydotnet Any progress? I'll have this week as well, then I am on vacation and it might be a little less progress from my part.

[2017-07-12 23:24] sixtyfive commented on #82
Hi. Do the referenced, closed, issues mean that this is officially sanctioned by now?

[2017-07-14 18:18] nandbert commented on #242
Hi guys, quick question: what version would you currently recommend to a user? issue/216-G, release/0.4.0, release/0.4.0_rebased_to_master? Thx!

[2017-07-27 17:19] marco-m commented on #263
Hello, thanks for git-subrepo, I like it! :-) any news on merging issue/216 ?

[2017-08-02 08:26] nowox opened #285 "Missing execution flag on .rc?"
I followed the instructions:

[code]

But I had to do `chmod +x .git-subrepo/.rc`

[2017-08-02 08:30] #285 closed

[2017-08-03 03:43] woodsnick opened #286 "macOS Sierra - install: the -d and -C options may not be specified together + make test"
Running "sudo make install" after a clone I see errors / warnings related to the -d and -C options not being allowed to be used together.  I "think" things installed correctly though make test also fails.

First the "sudo make install" output (I do see sit-subrepo install in at least some of those locations)

install -C -d -m 0755 /usr/local/Cellar/git/2.11.0/libexec/git-core/
install: the -d and

[2017-08-03 08:22] eirirlar opened #287 "Integrate into git"
Integrate into git as a contrib project:
https://github.com/git/git/tree/master/contrib

[2017-08-03 08:23] marco-m commented on #281
Hello, any news ?

[2017-08-03 08:23] eirirlar commented on #287
IMHO this is necessary to achieve widespread adoption. Any plans for going in this direction?

[2017-08-03 21:38] brunoleos opened #288 "Subrepo push gone wild"
I've just gone through a bad subrepo push.

The history was (I guarantee no upstream changes happened):
$ git subrepo clone repo_shared subdir -b feature_branch
$ git commit ...
$ git subrepo status
Git subrepo 'subdir':
  Remote Name:     subrepo/subdir
  Remote URL:      git@...
  Upstream Ref:    7331db4
  Tracking Branch: feature_branch
  Pulled Commit:   7331db4
  Pull Parent:     a3a4d0a
$ g

[2017-08-03 22:04] woodsnick commented on #286
Looks like the lines with -d are just there to create a directory and don't need the -C anyway?  Likely diff would be something like this.  Missing anything?

diff --git a/Makefile b/Makefile
index 764bd65..1f4574d 100644
--- a/Makefile
+++ b/Makefile
@@ -36,11 +36,11 @@ test:

 # Install support:
 install:
-       install -C -d -m 0755 $(INSTALL_LIB)/
+       install -d -m 0755 $(INSTALL_LIB)/

[2017-08-03 22:05] woodsnick commented on #286
Pasted comment lost diff bits.  Attached patch.
[copydiff.txt](https://github.com/ingydotnet/git-subrepo/files/1198716/copydiff.txt)

[2017-08-03 22:31] woodsnick opened #289 "make install doesn't copy everything needed? git-core/../ext/ missing?"
It seems like "make install" may not transfer everything that git-subrepo wants.  On macOS Sierra I run a make install which transfers everything like the following:

`
install -d -m 0755 /usr/local/Cellar/git/2.11.0/libexec/git-core/
install -C -m 0755 lib/git-subrepo /usr/local/Cellar/git/2.11.0/libexec/git-core/
install -d -m 0755 /usr/local/Cellar/git/2.11.0/libexec/git-core/git-subrepo.d/
ins

[2017-08-03 22:32] woodsnick commented on #289
Note: Just running a "make uninstall" then running the tests works so just a problem with the installed variant it seems?

[2017-08-04 02:53] woodsnick opened #290 "test/encode.t ............... 90/? # Failed test 'subrepo push command output is correct' # at test/encode.t line 63."
Fresh clone on macOS Sierra.  One encode test seems to be failing.  I haven't dug in deeper yet.  The want vs. got lines look identical in the printout.  Here's the section that fails.

`
test/encode.t ............... 90/? #   Failed test 'subrepo push command output is correct'
#   at test/encode.t line 63.
--- /tmp/want-31460	2017-08-03 19:51:23.000000000 -0700
+++ /tmp/got-31460	2017-08-03 19:5

[2017-08-04 02:56] woodsnick commented on #290
Also fails after a make clean wiping out tmp.

[2017-08-09 22:15] chrisfair commented on #287
I would like to see it pulled in....this is way better than submodule and subtree already.   I would hope that this would become the standard way of doing things.   It is way better than repro too.

[2017-08-14 08:02] grimmySwe commented on #280
@ingydotnet Hi Ingy, any progress here? Please let me know if I can help you in any way.

[2017-08-14 08:04] grimmySwe commented on #287
This has already been discussed in #199, don't know if @ingydotnet has changed opinion on the matter.

[2017-08-14 08:07] grimmySwe commented on #288
As stated with git subrepo status:
Tracking Branch: feature_branch

You should not need -b for the push operation, it should work against the correct branch.

What verison of subrepo are you using?

[2017-08-14 08:10] grimmySwe commented on #289
I will see if I can test this on MacOS to see what happening.

[2017-08-14 08:13] grimmySwe commented on #290
Hi @woodsnick,

What do you mean by this: "The want vs. got lines look identical in the printout. "

For me the want/got seem to differ in your example:
-Subrepo '/......s:a^t?r a*n[g@{e.lock' pushed to '../../../tmp/upstream/bar' (master).
+Subrepo '/......s:a^t?r a*n[g@{e.lock' has no new commits to push.

I will see if I can test this on MacOS to see what is happening.

[2017-08-14 13:02] brunoleos commented on #288
The version is:
$ git subrepo --version
0.3.1

[2017-08-14 13:14] grimmySwe commented on #288
You can use -vb flags to push for more verbose output. There are unfortunately some problems with 0.3.X version, we are working on solving them but it's not on master yet.

[2017-08-14 20:57] ingydotnet commented on #287
I can see the benefits of making this a contrib. What I'd like to try first is to see if there is a clean way for this to detect when it is out of date or buggy, and to let the user know how to upgrade.

As soon as we get a 0.4.0 release out and address the other major outstanding issues, let's give this a try.

Heck, one thing we could do is to make `contrib/git-subrepo` be an installer:
[code]

[2017-08-14 20:58] ingydotnet commented on #280
Apologies. I'll update the project board today.

[2017-08-16 03:09] woodsnick commented on #290
It looked like the lines that complained there was a diff had no real difference in content.  There is a /tmp/want-??? file and a /tmp/want-??? file that appear to be diff'd to report the error.  Wasn't sure if maybe a whitespace issue?  These are the two lines with the beginning stripped:

2017-08-03 19:51:23.000000000 -0700
2017-08-03 19:51:23.000000000 -0700

From this printout:

--- /tmp/want-

[2017-08-17 04:39] ingydotnet commented on #281
@grimmySwe taking a little time now to catch up. Looks like I can close this one.

[2017-08-17 04:39] #281 closed

[2017-08-17 04:53] ingydotnet commented on #282
@grimmySwe the changes look right. Are you saying that the  `release/0.4.0_rebased_to_master ` should be force pushed to `release/0.4.0`?

If so, you have my blessing. GO ahead and do that, then close this issue and move the task to Done in https://github.com/ingydotnet/git-subrepo/projects/1

Do you think any of the remaining Tasks (besides my review) need to be done before we do the 0.4.0 releas

[2017-08-17 07:24] grimmySwe commented on #282
I have now forced pushed release/0.4.0 including release/0.4.0_rebased_to_master and also the issue/150_to_master.

[2017-08-17 07:25] grimmySwe commented on #150
@ingydotnet  This is now included in release/0.4.0 so please have a look and see what you think.

[2017-08-17 07:32] grimmySwe opened #291 "Travis fails due to git version"
Latest git-subrepo requirs git 2.5. Travis seems to have some 1.8.9...

[2017-08-17 07:32] grimmySwe commented on #291
@ingydotnet Can you look into this?

[2017-08-17 09:05] grimmySwe commented on #258
I am testing out this now, but fail to create the error in the first place. I will add '--no-tags' just for safety but it might be that the current construct already prevent tags due to specifying a refspec directly. I have sent a mail to the git mailing list for clarification.

[2017-08-17 09:09] marco-m commented on #281
Thanks! git-subrepo is keeping our sanity with a reasonable history (as opposed to git subtrees) ❤️

[2017-08-17 11:51] #291 closed

[2017-08-17 14:03] ingydotnet commented on #282
@grimmySwe I'm getting test failures on these 2:
[code]

[2017-08-17 14:48] grimmySwe commented on #282
@ingydotnet Travis CI works with the tests and I got nothing locally, I will check if I can reproduce at work tomorrow.

[2017-08-17 16:19] ingydotnet commented on #282
https://gist.github.com/anonymous/b4ceadaf5eba7bdf70e99bdde7e4c433

Might be specific to my mac. Will investigate.

[2017-08-17 16:22] ingydotnet commented on #282
Yeah. Works fine on Linux. Will try to fix the Mac bugs.

[2017-08-17 21:52] ingydotnet commented on #282
Fixed mac bug. The `stat` command output looks like this on OS X:
[code]

See 204d4aa

[2017-08-17 21:52] #282 closed

[2017-08-22 11:41] sqrt opened #292 "In the FAQ, what is the difference between the first two approaches?"
I tried to follow the advice in the first FAQ, but I don't see a difference between the two approaches:

    $ cd <old-project>
    $ git subrepo init <subdir1> -r <remote> [-b <branch>]
    $ git subrepo push <subdir1>
    $ git branch
    * master
      subrepo/<subdir>

Which is exactly the same as in the second approach (except for the remote):

    $ cd <old-project>
    $ git subrepo init <s

[2017-08-22 11:50] grimmySwe commented on #292
@sqrt I think the main difference is that in the first case you have the subrepo in a separate repository, in the second case you use the subrepo in the old-project repository and then clone from there.

I haven't written anything in the FAQ so we should check with @AndrewSmart .

Personally I would say that the second approach might be fragile as the temporary branches in the old-project is just

[2017-08-25 16:11] AndrewSmart commented on #292
Correct. There are no other differences.

I'll mark bold #1 & #2 in that FAQ entry.

[2017-08-26 00:31] contentfree opened #293 "Parenthesis in folder causes problems for git-subrepo push/pull/commit"
Not sure if I'm missing something but parenthesis are allowed in a git branch's name. Observe:

[code]

Seems like it's possibly a Bash/quoting issue… maybe?

[2017-08-26 01:04] contentfree commented on #293
Maybe I was just in some bad state. I cleaned the subrepo, deleted the .gitrepo file in the folder, `git subrepo init -r ... <dir>` the directory again and was able to pull changes after that.

Closing this for now.

[2017-08-26 01:04] #293 closed

[2017-08-30 22:09] mwithheld opened #294 "git subrepo deinit/rm/delete/remove ?"
How do I remove a subrepo that's already pushed to the parent?

Should there be a
git subrepo deinit/rm/delete/remove
command?

[2017-08-31 06:43] grimmySwe commented on #294
@mwithheld The only thing that connects the subrepo with the parent is the .gitrepo file in the subrepo. And it's you that decide when you sync it, so if you want to get rid of the entire directory, just remove it in the parent repo, if you just want to disconnect it, remove the .gitrepo file.

[2017-08-31 12:26] faeb187 commented on #245
@Olgagr Unfortunately I have the same problem, and for me the order of the entries doesn't change anything.

[2017-08-31 14:01] mwithheld commented on #294
Super - thanks!

[2017-08-31 14:01] #294 closed

[2017-09-01 08:24] ephemerr opened #295 "git subrepo clean -A does not work recursive"
I have project with nested subrepos:

[code]

After bad push I try to clean and have error:
`git-subrepo: Command failed: 'git update-ref -d refs/heads/subrepo/hf'`
and
`error: cannot lock ref 'refs/heads/subrepo/hf': 'refs/heads/subrepo/hf/src/3rdparty/B' exists; cannot create 'refs/heads/subrepo/hf'
`
So I need to make:
[code]
I have tried it on 0.4.0  and on master

[2017-09-01 18:20] TrevorMills opened #296 "Can't Branch at "Check for rebase" step"
I'm working in my Main Repo and I'm tracking a Feature Repo as subrepo in the `path/to/subrepo` directory.

I run:

`git subrepo push -v -d path/to/subrepo/`

and get:

[code]
Note that I'm tracking the `my_branch` branch of the Feature Repo.

Commit `c803a777d5f5d4635b69ab163bef20f9ff1d1874` in my Site Repo was done back when I was tracking the `development` branch of my Feature Repo.  The commit

[2017-09-02 23:19] TerraTech commented on #227
git version: 2.7.4
git-subrepo: 0.3.1

I just ran into this today with a (learning) test repo and found the underlying reason for the push failure.
[code]
After thinking about the failure, it dawned on me that git won't allow me to push to a remote branch that is checked out.  The error doesn't really indicate that, but this is what is happening behind the scenes.

To fix the issue:
[code]
Hopeful

[2017-09-04 07:32] grimmySwe commented on #296
@TrevorMills
First, note that 0.3.1 has some pitfalls, if possible I would recommend you to try out release_0.4.0 branch of git-subrepo. Not released yet but it's getting closer.

So if I understand correctly you have tracked 'development' done some changes and now you want to push that to 'my_branch'?

Do you want to overwrite the 'my_branch' with what you have locally?
- I would say that `git su

[2017-09-04 07:38] grimmySwe commented on #295
@ephemerr Have you performed any subrepo operations directly on 'hf/src/3rdparty/A/src/3rdparty/B' because thats not really supported.
Why? Because you will then get in a very strange position with your repos, because when you pull in things from 'hf/src/3rdparty/A' it will have no knowledge on you changes to hf/src/3rdparty/A/src/3rdparty/B and you will have to manually merge the .gitrepo file.

[2017-09-05 12:52] TrevorMills commented on #296
Hi Magnus,

Thank you for the response.  Note, I am tracking the `issue/216-G` branch of `git-subrepo`.  I tried `release/0.4.0` branch and had the same behaviour.

Your understanding is almost correct.  I used to track the `development` branch, and successfully pushed and pulled changes.  Then, a while back, I switch to track the `my_branch` branch.  I did the switch by running this command:

```

[2017-09-05 13:03] grimmySwe commented on #296
Hi Trevor,

Ok, that sounds strange. The clone command should have erased any tracks of the development branch.

What if you to a `git subrepo clean path/to/subrepo`? This can remove some old local traces that might disturb.

Then I would suggest doing these steps:
[code]
Then you can compare the log output with the one in you subrepo and see if there are any strange differencies.

[2017-09-05 13:25] TrevorMills commented on #296
Alas, no

[code]

I wonder if it's because that commit in the main repo (`c803a777d5f5d4635b69ab163bef20f9ff1d1874` ) introduces the change to the `.gitrepo` file:

[code]

So `subrepo` thinks , with that file in the main repo, that it's on the `development` branch, and it looks for commit `f7784853f5461a98aa19f68bb70c320f82bb1ecd` in the history, but since we're actually now tracking `my_branch`

[2017-09-05 13:27] TrevorMills commented on #296
Is there a way to tell subrepo to only look so far back into the history of the main repo?  Maybe the commit just immediately after `c803a777d5f5d4635b69ab163bef20f9ff1d1874`, so it doesn't try to go back so far?

[2017-09-05 13:29] grimmySwe commented on #296
Have you edited/merged the .gitrepo manually?

As you say commit in the .gitrepo should point out the latest commit that has been pulled into your subrepo. so if that is something that doesn't exist then subrepo can't perform any valid operation.

[2017-09-05 13:32] grimmySwe commented on #296
There is a squash option to push that simply pushes the latest state but I think that it will still require you to build up a valid history.

[2017-09-05 13:36] TrevorMills commented on #296
I haven't edited it manually ( not yet, but I'm wondering now if that's something that I need to try doing ).

The thing that I did that has got me here, I think, was when I switched branches from `development` to `my_branch`.

My `.gitrepo` file currently looks like:

[code]

Commit `7db63688c180c6dc151e0be0ab1cf325cb88b8c4` is from August 14.  Commit `c803a777d5f5d4635b69ab163bef20f9ff1d1874` (

[2017-09-05 13:37] rcdailey commented on #287
@ingydotnet For newcomers like myself, is there a page documenting the "major outstanding issues"? I briefly dug around and didn't find anything. Thanks in advance.

[2017-09-05 13:43] grimmySwe commented on #296
You are right that the parent commit should be the end of it. It indicates when the branch was last pushed (or cloned)

What about the subrepo commit `f80cf735a245d569ff873bcd119165b217e5e0c1`is that the expected one?

There are some troubles with branches that fan out a lot, because we try to find a good history path to recreate.

Could you check the .gitrepo file in 7db63688c180c6dc151e0be0ab1cf

[2017-09-05 14:00] TrevorMills commented on #296
A ha,

The `.gitrepo` file in `7db63688c180c6dc151e0be0ab1cf325cb88b8c4` contains:

[code]

So, at that point, it thinks it's on `development`.  The commit immediately following ( after, in time ) `7db63688c180c6dc151e0be0ab1cf325cb88b8c4` was where I switched branches:

[code]

Now, that obviously worked.

What do you think if I changed my current `.gitrepo` file to point to `657fb621b32bf9b045f3

[2017-09-05 14:04] TrevorMills commented on #296
And,  `f80cf735a245d569ff873bcd119165b217e5e0c1` is the latest commit to `my_branch` on the remote.

[2017-09-05 14:09] rcdailey commented on #287
It's the drawbacks I'm interested in. Are those documented somewhere?

[2017-09-05 14:43] rcdailey opened #297 "Question/Help: How to convert a submodule to subrepo?"
How does one convert a submodule to subrepo? The most straightforward way of doing this is 1 commit to `git rm` the submodule, and another to do the `git subrepo clone ...`. However, one issue I've run into in the past is when switching between tags/branches before/after this conversion. Typically the submodule files remain as unversioned/untracked files in the working copy and checkouts in git fa

[2017-09-05 14:52] grimmySwe commented on #287
Not more then in the open issues.

With 0.3.1 there are some severe flaws in the design causing a lot of common workflows to fail.
With 0.4.0 there are no huge flaws yet...
The main thing that I know is that if you have a a lot of merge commits in your history it might be a little hard to find the correct history path when subrepo tries to recreate and merge in your changes.

Are there any specifi

[2017-09-05 14:59] grimmySwe commented on #297
There is nothing builtin to subrepo to handle this situation. Subrepo will simply be an extra layer that can be used to communicate changes to certain shared parts. The working copy will be as any git repo, so if there are problems with switching between branches where in one case you have a submodule of a directory and in the other branch it's part of the repo there will be no solution that I kno

[2017-09-05 16:09] rcdailey opened #298 "Relative URL for git subrepo"
So, like submodules, I expect this to work:

[code]

However, as shown above, I get a failure. Some users use HTTPS, others use SSH. It depends on what `origin` is set to in the "parent" repo. I don't want to tie down the URL to one protocol or the other, requiring users to constantly change it *and* make sure they do not commit the `.gitrepo` file.

Is this supported and I'm just missing an impor

[2017-09-05 17:04] grimmySwe commented on #298
In our unittests we use relative urls for the remotes all the time.
For protocols you setup a remote for the subrepo, so it has nothing to do with the parent repo as you may want to access different repos by different protocols.

For the failing example above I can't really see any problem. What happens if you `git ls-remote ../core.git` is there more information there?

[2017-09-05 18:16] rcdailey commented on #298
So here is the repo I want to clone as a subrepo:

    ssh://git@stash.tabletopmedia.com/fe/core.git

And here is the remotes registered with my current clone (the "parent" in this case):

[code]

Result of `git ls-remote`:

[code]

For contrast, here is the `.gitmodules` which currently works for `core.git`:

[code]

[2017-09-05 18:38] ingydotnet commented on #298
What is `../core.git`? It looks strange. Is it a 'bare' clone? Is it a directory? Can you show `ls -l ../core.git`.

I can do this simple test (using a random repo):
[code]

[2017-09-05 18:45] rcdailey commented on #298
From the [git-submodules](https://git-scm.com/docs/git-submodule) documentation page:

`../core.git` only makes sense when you look at the remotes I provided: `origin` is: `ssh://git@stash:7999/fe/frontend.git`, which means `../core.git` should become `ssh://git@stash:7999/fe/core.git`. If you walk the URL like you do directories, per the example in the git documentation.

If you're storing the UR

[2017-09-05 18:54] ingydotnet commented on #298
Can you show `ls -l ../core.git`?

I think it should work fine, unless `../core.git` is a working directory. If which case you'd want to:
[code]

[2017-09-05 18:54] rcdailey commented on #298
So I did an example with an absolute URL:

And I got this in `Core/.gitrepo`:

[code]

(Side Note: Weird that it says 0.3.1 when I have the release/0.4.0 branch checked out?)

So I guess I could use a real remote name with it, for example:

    git remote add core ssh://git@stash:7999/fe/core.git

But concerns I have would be:

1. This seems to require that everyone have a `core` remote (And this

[2017-09-05 18:55] rcdailey commented on #298
@ingydotnet Your command (the `ls -l`) one doesn't make sense because that's a *relative url*, not a relative path on my local filesystem. I'm not sure I understand what you're asking.

[2017-09-05 19:01] ingydotnet commented on #298
I see. For subrepo (and other git commands like `clone`) that's a file system path. Like in my real world example above. Try `git clone .git Foo` inside any repo.

[2017-09-05 19:05] rcdailey commented on #298
I'm sure that git submodule has special logic inside of it to process relative URLs, as most other git commands do not seem to function with them.

So is it expected that every developer add the required remotes before being able to pull/push the subrepo? Furthermore, is it even required that developers push/pull the subrepo frequently (multiple times a day, possibly one time per change they make)

[2017-09-05 19:11] ingydotnet commented on #298
Yeah, I've never seen this relative URL thing.

I'm not sure I follow completely. When you clone a subrepo, the URL is saved (as you know). The `.gitrepo` file is now a commited file in that subdirectory, as is all the subrepo content.

When another developer clones the main repo, they get all the content. And if they `subrepo pull` the content is fetched from the URL.

You can use `--remote` to p

[2017-09-05 19:23] rcdailey commented on #298
The benefits to using relative URLs are:

1. The URL for the subrepo is calculated from the `origin` remote, so the users do not need to add additional remotes specifically for the subrepos (works out of the box without manual steps from the user, if they plan to push/pull the subrepo itself)
2. Can be hierarchical. With nested subrepos, you can calculate them transitively (a `.gitrepo` in a direc

[2017-09-05 20:14] grimmySwe commented on #298
It seems like a cool mechanism but I am not sure that it's suitable for subrepo.

Subrepos can be recursive but you should only handle the top nodes, otherwise you will create havoc in the internal .gitrepo files.

I think it might make more sense in the submodule world, but for me subrepo is not aimed to be connected that way.

Please try out subrepo and see if you get a sense on what it can/cann

[2017-09-05 22:04] ingydotnet commented on #298
@rcdailey when you say "so the users do not need to add additional remotes specifically for the subrepos" it makes me think that you don't understand subrepo. Users never need to add remotes, to push/pull. ANd they always get the subrepo whether they want it or not. A subrepo is physically a part of your repo; it just allows that part to be treated logically separate sometimes.

I do like the idea

[2017-09-05 22:38] ingydotnet commented on #297
I am in favor of supporting a `git subrepo convert ...` subcommand or somesuch, but I don't see it as that important.

For the most part, subrepo does not have problems with switching between branches and tags. Subrepo will create some helper artifact references and remotes but those can be removed without worry, using `git subrepo clean`.

@rcdailey I encourage you to test out converting the some

[2017-09-05 23:02] rcdailey commented on #298
@ingydotnet Thanks for replying. I just want to clarify to avoid confusion: when I talk about push/pull, I'm referring to subrepo's push/pull, i.e. you want to grab latest changes from the separate, common repo or contribute changes back to it. In this case, the remote URL will differ.

*Normal* push/pull, I expect to work on the defined remotes for the repository, as the copy of the subrepo there

[2017-09-06 02:03] dhuantes commented on #298
@rcdailey I'm not part of the core development team but I have used subrepo since January of this year and used Submodules for several years prior to that. As @ingydotnet mentioned there may be a disconnect here.  Having coming from the Submodules world, it's tough to break what has been ingrained so I will try to help.

1. subrepo is a script/set of scripts not a core part of git.  So everything

[2017-09-06 04:43] ingydotnet commented on #298
@dhuantes thanks for the detailed writeup. We should use it as part of a subrepo tutorial in the future.

One really good thing to keep in mind with subrepo, is that nobody on your project needs to know about or install subrepo. They can still change the content of the subrepo, because it is literally part  of the main repo. Only only person needs to be able to subrepo pull or push. After a subrep

[2017-09-06 11:16] grimmySwe commented on #296
When you `git subrepo clone` the parent should be the current commit BEFORE you commit the new change. So that seems ok. Because you can't include the hash of the commit where it is changed because it doesn't exist yet.

What happens if you run `git rev-list --reverse --first-parent 7db63688c180c6dc151e0be0ab1cf325cb88b8c4..HEAD` on your branch?
From the log in the original post it looks like we s

[2017-09-06 11:21] #292 closed

[2017-09-06 11:22] #278 closed

[2017-09-06 22:04] TrevorMills commented on #296
Hi Magnus,

`git rev-list --reverse --first-parent 7db63688c180c6dc151e0be0ab1cf325cb88b8c4..HEAD` does NOT include `657fb621b32bf9b045f35bdeb2dcccc9a5da6574`

`git rev-list --reverse --ancestry-path 7db63688c180c6dc151e0be0ab1cf325cb88b8c4..HEAD` is a much shorter list and DOES include `657fb621b32bf9b045f35bdeb2dcccc9a5da6574`, right at the top.

[2017-09-07 07:45] grimmySwe commented on #296
Trevor, I must have had a short circuit in my brain or a copy paste error...

The culprit commit is actually: c803a777d5f5d4635b69ab163bef20f9ff1d1874

So the same question again, is c803a777d5f5d4635b69ab163bef20f9ff1d1874 included in any of the rev-list commands?

The result from your previous check indicates that there are differences and that the --first-parent seems to go of in another direct

[2017-09-07 13:24] TrevorMills commented on #296
`git rev-list --reverse --first-parent c803a777d5f5d4635b69ab163bef20f9ff1d1874..HEAD` does NOT include `657fb621b32bf9b045f35bdeb2dcccc9a5da6574`

`git rev-list --reverse --ancestry-path c803a777d5f5d4635b69ab163bef20f9ff1d1874..HEAD` also does NOT include `657fb621b32bf9b045f35bdeb2dcccc9a5da6574`

[2017-09-07 13:40] grimmySwe commented on #296
ok, if you want to try, you can test and change the code lib/git-subrepo, just replace --first-parent with --ancestry-path and see if that does it.

I will dive deeper into this and see if I can come up with a solution that solves both cases.

[2017-09-07 13:44] grimmySwe commented on #296
Trevor, would it be possible to supply some git logs from your case?
I am interested in the structure of your repo and how I can reproduce it.
So if possible `git log --oneline --graph` and the output of the two git rev-lists above

 If you don't want to expose it here you can email it to grimmymail@gmail.com.

[2017-09-07 21:34] TrevorMills commented on #296
Hi Magnus,

Thank you so much for excellent support and attention to this issue.  I really appreciate it.

Changing `lib/git-subrepo` to use `--ancestry-path` instead of `--first-parent` did the trick.  I was then able to run `git subrepo push path/to/subrepo`.  Huzzah!  I've changed it back to `--first-parent` now as I trust that's the better one to use in most cases.

I will still send you the l

[2017-09-08 10:54] grimmySwe commented on #296
Thanks Trevor for all your help!

I think I have come up with a solution to the problem and added it to the release_0.4.0 branch. So now we perform an --ancestry-path but from that result we only follow one path from start to end.

[2017-09-11 06:55] grimmySwe commented on #280
@ingydotnet I fixed one of my main concerns for the new upcoming 0.4.0 last friday. There was a problem when you recreated the structure using --first-parent.

[2017-09-12 17:08] ingydotnet commented on #280
Great. I'll try to do my review this weekend.

[2017-09-18 19:04] ingydotnet commented on #280
@grimmySwe is the release pretty much ready in your opinion, once I approve the review?

[2017-09-19 06:32] grimmySwe commented on #280
@ingydotnet There are two issue that we need to decide:
1.  -M/-R flag for pull operation. Currently you select a method with clone/init, you can later change it with `git subrepo config`.
2. Default mode? Currently it's set to merge because it will avoid extra conflicts.

[2017-09-21 08:33] grimmySwe opened #299 "Having a subrepo branch in main repo blocks subrepo"
I created a subrepo branch in one of my projects when I introduced subrepo. This will block later commands:
[code]
Running that commands show:
[code]

Solution for me was to remove the subrepo branch but that will not be viable in all cases.

Consider adding a better prefix that will decrease the chance of a clash. Also improve the error message when this happens.

[2017-09-22 13:04] bryanlarsen opened #300 "push --dry-run actually pushes"
We're using f4b2c2fd7e5b35909eac99315421f6b8f924c3d8, currently release/0.4.0

I did a `git subrepo push -v --all --dry-run`, but it seems to have ignored my --dry-run flag because it actually pushed.

[2017-09-22 13:23] grimmySwe commented on #300
@bryanlarsen Sorry about that, I think that we added the flag during design stage but never got to implement the functionality behind it.

I will look into it and see if I can fix that.

[2017-09-22 13:35] bryanlarsen commented on #300
At least for me, I don't necessarily need a dry-run, I was planning on using it as a more intelligent status command, to tell me which subrepos are out of date.   I don't really care how I get that info.   Thanks!

[2017-09-22 13:57] grimmySwe commented on #300
Ok, removed the --dry-run flag for now. It is a little bit tricky to implement so we save it for later. (#274)

[2017-09-22 13:58] grimmySwe commented on #300
@ingydotnet Disabled this for now, doing only partial operation can be tricky as the subrepo push actually pushes remote, updates .gitrepo and commits it locally.

[2017-09-23 02:35] TrevorMills commented on #296
Hi Magnus,

Just looping back to this to say thank you once more.  `git-subrepo` has been working flawlessly, as usual.

Thanks,
Trevor

[2017-09-30 15:16] matthewtoast opened #302 "init gives "Failed to get subrepo content from 'my/dir'" error"
I have a project with several directories that I want to convert to subrepos. I ran `git-subrepo init` on all of them, and it worked like a charm -- except on one. For that one, `git-subrepo init` failed, giving me the following error:

[code]

I don't see anything obviously unusual happening in 'my/dir'. Is there something I can do to gain more insight into why this command might be failing, or h

[2017-09-30 15:33] matthewtoast commented on #302
Digging into the source a bit, I can see that the failure occurs here:

[code]

The underlying error message being:

[code]

[2017-09-30 16:14] matthewtoast commented on #302
As a possible workaround, I found that I was able to go into `/path/to/git-subrepo/lib/git-subrepo` and edit L474:

[code]

After that, I was able to run `git-subrepo init my/dir` successfully. I am not certain why this was necessary strictly for `'my/dir'` and not `'my/other-dir'` and `'my/other-dir2'` etc.

In researching similar problems others have had running filter-branch, it became apparent

[2017-10-01 10:16] farazhussain opened #303 "Question: difference between Upstream Ref and Pulled Commit?"
Hi, here is the output for 'git subrepo status' inside one of my repositores:

Git subrepo 'ext':
  Subrepo Branch:  subrepo/ext
  Remote Name:     subrepo/ext
  Remote URL:      git@bitbucket.org:username/somerepo.git
  **Upstream Ref:    7a1b7d8**
  Tracking Branch: master
  **Pulled Commit:   8d5c9b3**
  Pull Parent:     ed11838

(emphasis mine)

Now, inside somerepo.git, these are the last fiv

[2017-10-01 15:45] grimmySwe commented on #303
Hi @farazhussain, I think that the original idea is to have the Upstream Ref show the latest fetched commit available, Pulled commit is the latest commit actually pulled into you repo.

But from you output it looks a little strange as you should always have fetched at least the latest pulled commit.

Will look into this and see if I can understand more what is happening.

[2017-10-01 15:48] grimmySwe commented on #302
Is "my/dir" actually what you have tested? or is it just a cover for your real names? If so I think it would be useful if you could at least reveal the name that fails and possibly also names that work.

Will look into this and see if I can find anything

Note: Could you test release_0.4.0 branch of git subrepo and see if the error is there as well?

[2017-10-01 16:34] matthewtoast commented on #302
Actual directory names that I have run this against:

[code]

My repo has a long and storied history, including a stint with submodules and a stint with subtrees. My gut tells me something got corrupted in the git objects which is possibly outside of the purview of git-subrepo to handle.

Although, for some good news: I tested these same actions against the `release_0.4.0` branch (after upgrading

[2017-10-02 01:11] farazhussain commented on #303
Thank you @grimmySwe, that is very helpful.   After 'git subrepo pull ext', here is what I get:

Inside the main repository:

$> git subrepo status:
Git subrepo 'ext':
  Subrepo Branch:  subrepo/ext
  Remote Name:     subrepo/ext
  Remote URL:      git@bitbucket.org:farazhussain/somerepo.git
  Upstream Ref:    507c0d6
  Tracking Branch: master
  Pulled Commit:   507c0d6
  Pull Parent:     c4952d5

[2017-10-02 02:16] farazhussain commented on #263
I had noticed this too months ago and finally would have created an issue about it today.  Glad to see it was already identified  & fixed.

[2017-10-02 07:26] grimmySwe commented on #302
@matthewtoast Would you be ok with running release_0.4.0?

[2017-10-02 08:10] grimmySwe commented on #303
I can't reproduce the strange behavior with a upstream ref that is behind the pulled commit.
Please let me know if you experience this and now how to reproduce it!

[2017-10-02 08:10] #303 closed

[2017-10-02 11:55] matthewtoast commented on #302
Yes, I'll plan to use release_0.4.0. Thank you for your help.

[2017-10-05 05:54] chrisdtaylor commented on #244
Just curious if the fix for this issue will make it into an official release any time soon?

[2017-10-05 06:52] grimmySwe commented on #244
Hi @chrisdtaylor, currently we are waiting for @ingydotnet to get some valuable spare time to review the suggested 0.4.0 release.

Meanwhile it's much appreciated if you test out the release_0.4.0 branch and see if you find any problems with it!

[2017-10-05 15:22] chrisdtaylor commented on #244
@grimmySwe, will do!  Thanks for the prompt reply!

[2017-10-05 19:57] farazhussain opened #304 "make test fails on commit a7ee886"
Hi, on pulling up to the mentioned commit (the latest on master), I'm able to make install, but make test doesn't work (see test_result.txt for the output/errors).

The 'interact' text file shows the series of commands I executed.

[interact.5oct18.txt](https://github.com/ingydotnet/git-subrepo/files/1360695/interact.5oct18.txt)

[test_result.txt](https://github.com/ingydotnet/git-subrepo/files/13

[2017-10-06 00:25] tclune opened #305 "Avoiding merge conflicts for .gitrepo files for repository "owners""
A bit of background: In my organization, it is essential that most
developers be blissfully unaware of the use of git-subrepo.  I think
these are "owners" in the nomenclature introduced on the main git-repo
documentation page.  We expect a small number of gatekeepers to have
greater fluency with git and to manage any subrepo interactions.

My concern is that it seems relatively easy to have situat

[2017-10-06 11:46] grimmySwe commented on #305
@tclune Good questions!

Note that .gitrepo file only changes if someone uses a subrepo command. And by your description you have designated people doing this. If you have super-users that perform the subrepo commands they should also be aware of the implications.

I would recommend simplicity, don't create new branches until you really need them. In worst case you can even keep some changes in ma

[2017-10-06 12:45] tclune commented on #305
@grimmySwe

Yes - your comments are helpful.    I like the idea of keeping some changes only in the main repo - at least for a time.    Perhaps then we could then treat the subrepo more as an external product and the subdir as having a vendor branch.       I'll try do do some gedanken experiments to see if this reduces/avoids the issue I raised.

Regarding a narrow git structure:   No argument fro

[2017-10-06 13:06] grimmySwe opened #306 "Ancestry path fails if there are no .gitrepo file"
When I attempted to push my latest change I got a lot of fatals claiming bad commit objects. This was due to a merge with a branch that didn't have the subrepo.
[code]
Looking into removing these error messages as they can be quite disturbing.

[2017-10-06 14:46] dhuantes commented on #305
@tclune
I work with a research organization as well and we also used CVS prior to our move to git.  Unfortunately we used submodules before moving to subrepo.  So you are already ahead of the curve...IMHO...:-D...  Submodules are far closer to CVS modules but generally are a bad choice unless all of your developers are going to embrace git completely.  In git-subrepo terms if you're using submodul

[2017-10-06 15:12] tclune commented on #305
We use CVS modules to _completely_ rearrange the directory structure for different configurations.   We have explored various git approaches to maintaining this approach, but our current plan is to force the researchers to work with the "global" module.     Even if we embraced git submodules to attempt to preserve the status quo, we would need heavily nested submodules to provide relevant views of

[2017-10-06 20:03] farazhussain commented on #304
See #289.

[2017-10-06 20:06] #304 closed

[2017-10-06 20:06] farazhussain commented on #289
'make uninstall' followed my 'make test' worked for me on 0.3.1.  Thanks @woodsnick.

[2017-10-06 20:46] chrisfair opened #307 "I have a fit version at 2.14.1 and it says I need 2.5 or higher....."
git-subrepo: Requires git version 2.5 or higher; you have 'git version 2.14.1'.

[2017-10-06 20:50] chrisfair commented on #307
The bug is present in commit
d1a3f56711729d72e84e3644a1054a992e624ffe

But not present in
e35b848e74063126e949c816b6fe3231da570643

[2017-10-07 07:03] grimmySwe commented on #307
Strange, the actual check is not for version, it's if worktree command is available.

[code]
And that has not changed between the commits.
Could you supply the output adding the -vd flags in both cases?

[2017-10-07 07:10] grimmySwe commented on #289
I have to admit that I never run `make install`, i just have my repo and then perform the install step from it with sourcing the .rc file.

[2017-10-07 07:16] grimmySwe commented on #289
@ingydotnet what are the use cases for `make install`, if I look at the start page it's a little hidden down below

[2017-10-10 04:15] chrisdtaylor opened #308 "subrepo pull with merge method using release/0.4.0 fails to introduce merge markers"
I have a multirepo and a subrepo where the subrepo content of each has diverged significantly and I want to "sync" the subrepo content between them again.  Both sides have made a number of commits since they last were in sync.  I have been using the latest 0.3.1 to exchange changes until now, but at this point the rebasing of 0.3.1 is too much - I have over 300 commits I would need to rebase from

[2017-10-10 04:20] ingydotnet commented on #289
`make install` is *supposed* to copy the relevant files into the places they would exist if subrepo was a core/contrib git command. ie into the directory found with `git --exec-path`.

I haven't tried it in a long time. It might need some help.

You can run it to install into a throwaway directory (for testing) like this:
[code]

Let me know if it isn't doing the rights things.

[2017-10-12 06:18] farazhussain commented on #289
Using DESTDIR made it work for me.

[2017-10-12 22:23] chrisdtaylor commented on #308
I've been toying with this some more and tried an experiment where I reset the multi-repo back to an earlier point and only then did the subrepo pull (using release/0.4.0 branch) with merge configuration.  I get a sensible merge (resolvable conflicts, merge markers, etc.) in the subrepo worktree.

So this leads me to believe that there is some issue with the scope or complexity of doing a merge af

[2017-10-13 05:46] chrisdtaylor commented on #308
I believe I've root caused the problem.  There is a component of the subrepo that uses a special merge tool (setup in a .gitattributes file).  The environment I'm using to run git-subrepo does not have the proper setup to be able to call this special mergetool, so the git-merge croaks.  I discovered this while trying to reproduce the error by hand.  Running git-merge by hand produced the error, bu

[2017-10-13 12:42] grimmySwe commented on #308
@chrisdtaylor Good working tracking this issue down. I'll see if I can find some time next week to look into this. Just be clear on what you are saying:
One of the subrepos has an internal setup specified in .gitattributes, wanting a certain merge tool. When you run this in the "parent" scope it fails to find this.

When you do the subrepo operations you will be in a parent repo scope, so there mi

[2017-10-13 17:29] chrisdtaylor commented on #308
The issue is actually that our production environment is using an older version of git (pre git 2.5), so it's not compatible with release/0.4.0 because of the use of git worktree.  So I'm using my own custom environment setup to run git subrepo as we work on updating the production environment to use git 2.8.4.  The unforeseen side effect here is that there's a component of my subrepo where a .git

[2017-10-14 13:15] maziac opened #309 "Problem with submodule"
Hi,
I used
git subrepo clone https://github.com/z88dk/z88dk.git dir
That worked fine, but the project is not building because it lacks it's own submodule 'ext/uthash'.

How to correctly clone with subrepo if the repository already contains subrepos?
And:
What can I do now that I already cloned with subrepo but without that submodule 'ext/uthash'?

[2017-10-16 13:27] grimmySwe commented on #308
@chrisdtaylor Added output if commands fail.

I have encountered this multiple times, don't know why I haven't fixed it before!

[2017-10-16 16:57] chrisdtaylor commented on #308
@grimmySwe I'm still not getting stderr piped all the way to the screen in my case.  I was able to confirm that the git-merge failure text I referenced above does go out on stderr when git-merge fails, so somehow git-subrepo is still eating it.  I looked briefly at the code below in lib/git-subrepo, but didn't get too far since I'm not great with bash scripting, but I wondered if stderr should be

[2017-10-16 23:57] keithn opened #310 "How to work out if you have changes to any subrepo that haven't been pushed back?"
if you have a lot of subrepos, how do you find the ones that got changed as part of your main project and need to be integrated back to their respective repos?

[2017-10-17 06:38] grimmySwe commented on #310
Hi @keithn,
There is unfortunately no easy way to determine this right now. You can look at #274 for an explanation of some steps that can be performed.

There is an -A option for push but then you will push all your subrepos and that might not be the desired behavior.

[2017-10-17 17:57] ingydotnet commented on #310
Try something like this Bash command:
[code]

Reformatted here:  https://gist.github.com/b772c6806a58a6a54f011cf8a2df427d

[2017-10-17 18:01] ingydotnet commented on #310
@grimmySwe we could add something to `status` to tell how commits ahead or behind a subrepo branch is.

[2017-10-18 07:56] grimmySwe commented on #310
@ingydotnet But don't you need to fetch and actually perform the subrepo branch to be able to find out the actual status?

[2017-10-18 19:30] ingydotnet commented on #310
@grimmySwe Yes. But I did that. See: https://gist.github.com/anonymous/b772c6806a58a6a54f011cf8a2df427d#file-x-bash-L4

The status command shows a line like thist (if there is a branch):
[code]

If we show that line, we can at least say how many commits ahead or behind it it.

[2017-10-25 14:31] dhuantes opened #311 "git subrepo clone "--force" doesn't work"
I have an existing subfolder let's say MyLibrary in another SuperProject.  MyLibrary is a standalone repository but it wasn't created as a subrepo within SuperProject.  I would like to overwrite the existing MyLibrary as a subrepo.  Without --force it indicates:

`git-subrepo:  The subdir 'MyLibrary' exists and is not empty`

I read the documentation and expected if I used the --force option that

[2017-10-26 13:48] dhuantes commented on #311
Update... Turns out that the `git subrepo clone`  -f or --force option is only valid if the subdirectory you want to force is/was a subrepo (.i.e has a .gitrepo file in subdirectory).   The .gitrepo file also has to be "valid".... (i.e. clone on top of was previously a subrepo).  In my case, i just manually created a .gitrepo file and I used valid SHA1's for the parent and commit fields but I test

[2017-10-29 20:44] Elioty commented on #309
Hmm I guess `(cd dir && git submodule update --init --recursive)` would do the trick.

[2017-10-29 22:14] Elioty opened #312 "get-command-info() doesn't work as intended on Git [BASH] for Windows"
I have git subrepo 0.3.1 installed (cloned from master) and I noticed that when I did a `git subrepo clone [...]`, the origin and commit for my git-subrepo were `???`.

I looked into the code and found that the buggy code was the checks made in the `get-command-info` function. Indeed it checks that `/` (slash) is part of some paths. But on Windows, those paths are made up with `\` (back-slash) ins

[2017-10-30 06:46] maziac commented on #309
I think this can be cloned.
The major problem was that the .gitmodules file of the repo I included as subrepo included its submodules via .gitmodules.
The contents of the subrepo's .gitmodules file had to be manually copied (with corrected paths) to the root repo's .gitmodules file.
Then it works with the command above.

[2017-10-30 09:14] grimmySwe commented on #311
@dhuantes Thanks for the feedback!

I think that the intended way right now is that you do a "git rm subdir" first to clear up and make sure that you really want to replace the subdir with a subrepo. But as you say, a -F flag to allow you to overwrite might be a useful tool!

[2017-10-30 09:18] grimmySwe commented on #309
There are some comments on subrepo with submodules in #262

[2017-10-31 16:37] plach79 commented on #307
I have the same issue with branch `release/0.4.0`: according to the [manual](https://git-scm.com/docs/git-worktree/2.5.0), the `list` subcommand is not available until version `2.7.0`. So maybe we should change the check to something different?

[2017-10-31 16:40] plach79 commented on #307
In fact upgrading to git 2.15.0 fixed the issue for me.

[2017-10-31 17:54] plach79 opened #313 "[release/0.4.0] "git subrepo push" always applies the -u option?"
I am not sure I found a bug or whether this is intended, but while on the `release/0.4.0` branch (https://github.com/ingydotnet/git-subrepo/commit/ba19aa75d3ceef126b1aa5ecfb8c66f8008fcd76), if I try to push while specifying an alternate remote and branch (I'm trying to implement a pull-request workflow for the subrepo), `.gitrepo` is updated with those remote and branch values, as if I specified t

[2017-10-31 17:59] plach79 commented on #313
Additional info: if I manually restore the original remote and branch in the `.gitrepo` file everything works as expected and I am able to pull from the (canonical) subrepo, after merging the changes pushed to my topic branch in my subrepo fork.

[2017-10-31 18:38] plach79 commented on #313
PR with a possible fix for this at https://github.com/ingydotnet/git-subrepo/pull/314

[2017-11-02 07:21] grimmySwe commented on #307
`git worktree list` is used so I guess I need to bump the requirement to 2.7.0

[2017-11-02 07:39] grimmySwe commented on #313
I am thinking a little about what the expected behavior should be. Right now it seems that the .gitrepo file is always updated with new commit info, if you want to update the branch/remote you need to add the -u option.

For my own workflow, I would say that I prefer having the .gitrepo file update at all times, maybe introducing a flag that prevents update. So if I want to push stuff to another b

[2017-11-02 10:35] plach79 commented on #313
I may be wrong, I'm definitely new to `git subrepo`, but I tried `0.3.1` first and it seems to me that in that case the `-u` option was actually needed to update the `.gitrepo` info. This is also what I would expect from reading the (docs)[https://github.com/ingydotnet/git-subrepo/blob/master/ReadMe.pod#command-options]:

If I am correct, `0.4.0` would be introducing a BC break wrt `0.3.1` and add

[2017-11-02 11:12] plach79 commented on #307
+1 on that, thanks!

However @chrisfair's issue was probably different as he was already on 2.14. Should we keep this open until we hear back from him?

[2017-11-02 11:47] grimmySwe commented on #313
First: @plach79, good comments!

For 0.3.1 the difference is that you don't rely on the information in the .gitrepo, instead you parse the tree to find the information. So in that case you don't have a default behavior of updating the .gitrepo file. It was only done with -u.

In the 0.4.0 subrepo structure is based on the information in the .gitrepo file, parent show when something was last pushed

[2017-11-02 12:08] plach79 commented on #313
Makes sense, I'll just outline my workflow here to clarify why I'd need not to update the `.gitrepo` file. Maybe I'm just doing it wrong and there are better ways to leverage `0.4.0` :)

I have a private github setup with two main projects that are sharing a set of libraries. We would like to be able to work on the libraries from both projects, but still be able to keep them in-sync without having

[2017-11-02 13:28] grimmySwe commented on #313
I understand that a PR workflow is based on this circular approach:
Main repo clones against a subrepo, pushes to the subrepo fork. Then the subrepo fork pushes to the subrepo, so finally the main repo will pull in the accepted changes.

Would it be possible to change that so that you instead have the subrepo fork as your pull/push from the main repo? Then you can have a gatekeeper review the chan

[2017-11-02 13:38] plach79 commented on #313
I'm not sure I understand your suggestion, sorry, can you provide an example?

We would like to be able to work on the libraries from the project repo because these are exposed as plugins and so are hard to test in isolation (only unit testing, no integration testing available).

[2017-11-02 13:58] grimmySwe commented on #313
Example:
* Fork subrepo ask subrepo-fork
* Clone subrepo-fork into your main repo
* pull/push without -r, using the subrepo-fork
* When you want to sync with subrepo, you do this from the subrepo-fork (But as you said, it might be troublesome verifying things without a complete context.)

Another thought if you want to verify the subrepo in the context of main repo:
* Clone subrepo into main repo

[2017-11-02 14:23] plach79 commented on #313
Thanks, @grimmySwe, this was helpful!

Suggestion 1 wouldn't work for us because each developer has a different subrepo fork. We could just a remote alias to clone the subrepo and have everyone configure their own fork url for the same repo alias, but this would just reverse the problem. When the GK pulls changes from the upstream repo `.gitrepo` would be update with the upstream subrepo remote. T

[2017-11-07 13:49] robertjpayne opened #315 "Subrepo tags imported into parent repo?"
This is more a question than anything, but currently when I clone a subrepo it imports all of it's tags into my parent repo. This causes massive tag collision across all the subrepos and it's quite painful to clean up.

Is there any way to clean all tags associated with a subrepo or prevent this behavior?

Cheers

[2017-11-07 14:41] grimmySwe commented on #315
Hi @robertjpayne

That sounds bad! What version of git-subrepo are you running?
In release/0.4.0 we have fixed #258 and #257 that is somewhat connected to this.

/Magnus

[2017-11-07 23:02] robertjpayne commented on #315
Hey @grimmySwe sorry I'm on 0.3.x -- Homebrew doesn't say there is any newer version and I mistakingly didn't check github.

I'll see if an upgrade fixes it :)

[2017-11-08 07:47] grimmySwe commented on #315
@robertjpayne We have unfortunately not been able to release 0.4.0 officially yet, but it will solve a lot of problems, so if you can, you should update and use that.

[2017-11-08 17:38] plach79 commented on #313
@grimmySwe, just to be sure, we are just waiting for @ingydotnet's feedback on https://github.com/ingydotnet/git-subrepo/issues/313#issuecomment-341397360, right?

[2017-11-08 18:37] vertreko opened #316 "Git subrepo push changes modification times of all files?"
I'm trying out git subrepo for the first time:

`git-subrepo Version: 0.3.1 Git Version: git version 2.14.3`

Is it normal for "git subrepo push <subrepo_name>" to bump the modification times of all files in the entire repo (parent and ALL subrepos)? It's as if everything is being checkout out, i.e. branches are being switched, under the hood.

[2017-11-09 07:43] grimmySwe commented on #316
Hi @vertreko,

Yes in 0.3.1 there is a "under the hood" checkout. In release/0.4.0 we have added #150 (support for worktree) and that is really useful. Your editor wont complain on changed files after a push.

[2017-11-09 07:44] grimmySwe commented on #280
@ingydotnet Hi there, any progress on the review?

[2017-11-09 07:49] FlorianFranzen commented on #299
Also, after running a subrepo pull on a branch named ```subrepo``` and having it fail, all further attempt to pull just complain that ```git-subrepo: '<subrepo-path>' is not a subrepo```.

[2017-11-10 20:40] ingydotnet commented on #280
I'll work on it this weekend. Thanks for the reminder.

[2017-11-13 17:25] djobet opened #317 "merge from branch not working anymore on 0.4.0"
Hello,

I'm trying to "sell" subrepos to move from an existing mercurial setup (+ submodules) to a git setup.

Our setup has several applications using a common framework.
We have 3 remote sites (Europe, Asia, America).
One of our application has been heavily modified (tailored locally) so that now it's more or less 3 different applications still having the same repo and living in 3 different bran

[2017-11-14 05:54] ingydotnet commented on #280
@grimmySwe well I didn't get to it yet, but I have all next week off from work. I fully intend to do this either this week or next.

Thanks for your patience.

[2017-11-14 06:00] ingydotnet commented on #317
@djobet Look into `git subrepo clone -F`. I think it might do what you want.

[2017-11-14 06:41] ingydotnet commented on #307
I used `git subrepo` from my home directory (which is not a git repo) expecting
to see the help page and I got:
[code]

Running the worktree command to check the version is clever, but wrong since:
[code]

[2017-11-14 07:46] djobet commented on #317
@ingydotnet I've given it a try, here's the output. Any advice ?

    $ git subrepo version
    git-subrepo Version: 0.4.0
    ....

    $ git subrepo clone -F -b america

    git-subrepo: Invalid option '--fetch' for 'clone'.

      Usage: git subrepo clone <repository> [<subdir>] [-b <branch>] [-f] [-m <msg>] [-e] [--method <merge|rebase>]
    ...

[2017-11-14 08:23] grimmySwe commented on #280
@ingydotnet I hope you get some real vacation as well, not just replacing one work with another :-)
Let me know if there is anything I can do to help out.

[2017-11-14 09:40] grimmySwe commented on #307
Changed to a "regular" version check. I hope this one is clever but right ;-)

[2017-11-14 10:16] grimmySwe commented on #317
@djobet If you want to take a specific snaphot of a subrepo into your current repo:
```git subrepo clone [--force] -b branch subrepo```

-F (capital f) flag is for fetching data first and can be used with branch/commit/status commands.

In your case I assume that you want to get the difference from america and merge that into your current status (europe?). Problem with that is that in the current

[2017-11-14 13:48] djobet commented on #317
@grimmySwe thanks for your answer. Yes, I know I can do it directly on the subrepo, but it involves more operations. We're trying to find a setup that is as strimlined as possible for common operations, that's why I think it would be better if we can do everything from within the container.
Are merging/cherry-picking something you plan to support one day in 0.4.0 ?

[2017-11-14 13:59] grimmySwe commented on #317
@djobet I haven't given it a lot of thought but my first reaction is that it is a little hairy to actually merge subrepo stuff within the context of the main repo. But who knows, there might be an easy way? If you have ideas, please let us know!

There is a way of merging by using the regular repo branches. But that would leave your subrepo unaware of the actual merge.

[2017-11-14 16:28] FanchTheSystem opened #318 "Please add an option to --all to do only one commit"
I am new to git-subrepo ;)

When I run : `git subrepo push -a`

It push my source code on all my remote repo, Ok ! :)

But it also do a commit on each update on the file .gitrepo

And It look like the second commit use the first one as parent to update .gitrepo file, and the third use the second as parent and ...

So as I use 19 sub repo in my project. I have 19 commit to 19 .gitrepo file, and onl

[2017-11-14 16:43] djobet commented on #317
@grimmySwe Yes, I agree this is hairy ! The setup is not what I'd like to have but one I have to live with...

[2017-11-15 09:19] djobet commented on #317
@grimmySwe Hello, I've tried to make some changes to the script to make my use-case work.
Unfortunately I've basically 0 knowledge of git low level commands, so I don't really know exactly what the script attempts to do and which pitfalls it tries to avoid. Is there some doc out there describing the sub-repo process ?

I've managed to somehow make the thing work with several caveats.
I've just com

[2017-11-16 09:35] grimmySwe commented on #317
@djobet Thanks for taking the time to investigate this!

Unfortunately there are no updated documentation on how it works. I have been waiting for the release of 0.4.0 to update the wiki pages.

A summary:
When you pull in changes from a subrepo we use the information stored in the .gitrepo file to recreate a virtual structure on the changes in the subrepo. We "simply" use the commit value in .git

[2017-11-16 12:41] grimmySwe commented on #318
Hi @FanchTheSystem and welcome to the git-subrepo!

First I must ask: does it work? except from you getting a lot of different parent commits?

The reason that it works this way is that every subrepo push is an "atomic" operation, so if anything goes wrong you don't end up in strange state.

I have labeled this Enhancement, so it's up for evaluation to future releases.

[2017-11-16 12:42] grimmySwe commented on #318
@FanchTheSystem Could you create a separate issue for the commit message prefix? It's better that you do that so you get notifications if something happens.

[2017-11-16 13:30] FanchTheSystem commented on #318
Yes it work, ok the for the second issue

[2017-11-16 13:31] FanchTheSystem opened #319 "Please add an option to modify the default commit message"
I would like to have an easy way to add something in the commit message (like for example prefix all message with a tag [CI]

[2017-11-16 13:31] FanchTheSystem commented on #319
Issue asked here https://github.com/ingydotnet/git-subrepo/issues/318

[2017-11-20 16:18] nandbert opened #320 "which branch or tag to use?"
Hi guys, which version would you currently recommend to use in a new project?

0.3.1 ?
release/0.4.0 ?
master ?
some 216 derivate ?

Thx

[2017-11-21 15:57] danielbsig opened #321 "Finishing rebase"
I got an error when executing the "git subrepo push <subfolder>" command. I've gone through the steps needed to resolve the errors during rebase, to the point where there are no more merge conflicts. However, I'm on the branch "subrepo-push<subfolder>".  If I try to execute "git subrepo push <subfolder>" again, I get an error stating that an existing branch exits, and I should delete it.

What is

[2017-11-22 00:36] ingydotnet commented on #321
Hi @danielbsig,

It looks like you now need to checkout your starting branch (usually master)
and then execute: `git subrepo push <subfolder> subrepo/<subfolder>`.

Basically, you needed to go into the branch that was created for you, fix the
errors, and then get back out. You can't do subrepo commands from the
perspective of the parent repo with the subrepo checked out.

We should probably detect

[2017-11-22 00:53] ingydotnet commented on #320
Hi @nandbert,

I'm working on the 0.4.0 release right now and hope to have it out this week.
Hopefully in the next 1-4 days.

It is going to be based off of the release/0.4.0 branch, so using that now
should probably be just fine.

[2017-11-22 03:19] ingydotnet commented on #318
Hi @FanchTheSystem,

If `git subrepo push` added 19 commits, I think you can simply do this (for
now):

[code]

I agree that push all should probably do this for you after all the pushes are
successful. We'll look into adding that soon.

[2017-11-22 03:23] ingydotnet commented on #318
@grimmySwe, here's a reproduction strategy I worked out:

[code]

[2017-11-22 03:49] ingydotnet opened #322 "The clean command does not remove worktree things from non-existent subrepos."
Artifacts from attempted subrepos can get left behind after things like
git-reset.

Consider this:
[code]

The clean `-fA` flags need to remove orphaned worktrees.

[2017-11-22 04:05] ingydotnet commented on #307
I just fixed some bugs in this fix. See e0241a9.

This is on the @release/0.4.0 branch and should get back to master this week.

[2017-11-22 04:10] ingydotnet commented on #280
@grimmySwe, sometimes when you spend an extended time with family, it's nice to
be able to escape to something like this. :)

Maybe you can fix https://github.com/ingydotnet/git-subrepo/issues/322 and keep
an eye on https://github.com/ingydotnet/git-subrepo/projects/1 for more things.

[2017-11-22 05:06] ingydotnet commented on #318
Note, the strategy is using the release/0.4.0 branch. I am asking the question in #313, why we update the .gitrepo file on a push ever?

[2017-11-22 05:08] ingydotnet commented on #313
@grimmySwe, I'm reviewing the release/0.4.0 branch and just looking through issues.

Looking briefly into this one and then working with #318 earlier, I am now
aware that a push adds a commit to the parent repo. I wasn't aware of this.

The 0.3.1 release and the master branch don't update gitrepo for a pull, and I
don't want to do it unless it is truly needed.

Can you explain why and when it got

[2017-11-22 05:13] ingydotnet commented on #313
FWIW, `-u` is intended to update the `.gitrepo` file when the branch or remote changes, but it could also be used just to update the commit and parent.

I think it's important to be explicit when you want to update the parent/commit because you could do a subrepo push that updates the .gitrepo file, and then never push that new commit.